<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="index3.html" class="brand-link">
      <img src="https://quikaf.com//images_newhome/nearstore_logo_new.png" alt="Logo" class="brand-image img-circle" style="opacity: .8">
      <span class="brand-text font-weight-light"></span>
    </a>
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-transition os-host-scrollbar-horizontal-hidden"><div class="os-resize-observer-host"><div class="os-resize-observer observed" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer observed"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 103px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll; right: 0px; bottom: 0px;"><div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/" class="nav-link">
                  <i class="fas fa-chart-line nav-icon"></i>
                  <p>Dashboard</p>
                </a>
              </li>

            <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Orders
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/order" class="nav-link">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Orders</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/order/unpaid" class="nav-link">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Unpaid Orders</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="/order/openorder" class="nav-link">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Open Orders</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/order/orderitems" class="nav-link">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Sales OrderItems</p>
                </a>
              </li>
            </ul>
          </li>
              
             
              <li class="nav-item">
                <a href="/cart" class="nav-link">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Live Orders</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/cart/dispatch" class="nav-link">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Dispatch</p>
                </a>
              </li>
              {{!-- <li class="nav-item">
                <a href="/order?old=yes" class="nav-link">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Orders - Old</p>
                </a>
              </li> --}}
               <li class="nav-item">
                <a href="/promoOpt" class="nav-link">
                  <i class="fa fa-award nav-icon"></i>
                  <p>Whatsapp Opt</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/whatsapp" class="nav-link">
                  <i class="fa fa-whatsapp nav-icon"></i>
                  <p>Whatsapp </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/logistic" class="nav-link">
                  <i class="fa fa-truck nav-icon"></i>
                  <p>Logistics</p>
                </a>
              </li>
              {{!-- <li class="nav-item">
                <a href="/order/timeline" class="nav-link">
                  <i class="fas fa-shopping-bag nav-icon"></i>
                  <p>Orders Timeline</p>
                </a>
              </li> --}}
            
               {{!-- <li class="nav-item">
                <a href="/store" class="nav-link">
                  <i class="fas fa-store nav-icon"></i>
                  <p>Stores Orders</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/store?old=yes" class="nav-link">
                  <i class="fas fa-store nav-icon"></i>
                  <p>Stores Orders- Old</p>
                </a>
              </li> --}}
             
              
            </ul>
          </li>
           <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
             <i class="fa fa-gift" aria-hidden="true"></i>
              <p>
                Coupons
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
               <li class="nav-item">
                <a href="/coupon/" class="nav-link">
                    <i class="fa fa-fire fa-lg"></i>
                  <p>Coupons</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/coupon/generate" class="nav-link">
                 <i class="fa fa-gift" aria-hidden="true"></i>
                  <p>Generate</p>
                </a>
              </li>
              
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                Inventory
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
              <li class="nav-item">
                <a href="/product/allproducts" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Warehouse Inventory</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/inventory/" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Inventory</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/inventory/addnew" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add  new</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/inventory/inventory-occupancy" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inventory Occupancy</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/inventory/inventory-occupancy-brand" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inventory Occupancy Brand</p>
                </a>
              </li>
            </ul>
          </li>

           <li class="nav-item">
                <a href="/product/searchdata" class="nav-link">
                  <i class="fas fa-search nav-icon"></i>
                  <p>Search Keywords Analysis</p>
                </a>
              </li>


               <li class="nav-item">
                <a href="/drivers" class="nav-link">
                  <i class="fas fa-truck nav-icon"></i>
                  <p>Delivery Drivers</p>
                </a>
              </li>

          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 12.7676%; transform: translate(0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
    <!-- /.sidebar -->
</aside>
