
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<title>Advanced Search Examples | Keenthemes</title>
		<meta name="description" content="Advanced search datatables examples" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="canonical" href="https://keenthemes.com/metronic" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
							
							<div class="content flex-column-fluid" id="kt_content">
								
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">First</h3>
										</div>
									
									</div>
									<div class="card-body">
										<!--begin: Search Form-->
										<form class="mb-15">
											<div class="row mb-6">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Bar Code</label>
													<input type="text" class="form-control" placeholder="Enter Barcode" id="product-barcode" value="{{ barcode }}" >
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Location</label>
													<select class="custom-select form-control form-control-sm" id="location">
														<option selected="true" disabled="true">--select--</option>
															{{!-- <option value="">Bandra</option>
																<option value="">Powai</option> --}}

														{{#each location}}
															<option value="{{ this.locid }}">{{ this.name }}</option>
														{{/each }}
													</select>
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Company</label>
													<input type="text" class="form-control"   id="company" placeholder="Enter company">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
												<label>Brand Name</label>	
                    							<input type="text" class="form-control"   id="brand-name" placeholder="Enter brand-name">
												</div>
											</div>
											
											<div class="row mb-8">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Product Name</label>
													<input type="text" class="form-control" id="product-variant" placeholder="Enter Product Name">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Product Type</label>
                    								<input type="text" class="form-control"   id="product-type" placeholder="Enter product-type">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Product Category</label>
                      								<input type="text" class="form-control"   id="product-category" placeholder="Enter product-category">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
												<label>Product Group</label>
                     							<input type="text" class="form-control"   id="product-group" placeholder="Enter product-group">
												</div>
											</div>
										
										</form>

										
										
									</div>
								</div>
								<!--end::Card-->

								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Second</h3>
										</div>
									
									</div>
									<div class="card-body">
										<!--begin: Search Form-->
										<form class="mb-15">
											<div class="row mb-6">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Origin</label>
													<input type="text" class="form-control"   id="origin" placeholder="Enter Country of Origin">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>SKU Size</label>
													<input type="text" class="form-control"   id="sku" placeholder="Enter SKU Size">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>HSN Code</label>
													<input type="number" min="0" class="form-control"   id="hsncode" placeholder="Enter HSN Code">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Box-Id</label>
													<select class="custom-select form-control form-control-sm" id="boxid">
														<option selected="true" disabled="true">--select--</option>
															{{!-- <option value="">Bandra</option>
																<option value="">Powai</option> --}}

														{{#each location}}
															<option value="{{ this.locid }}">{{ this.locid }}</option>
														{{/each }}
													</select>
												</div>
											</div>
											
											<div class="row mb-8">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>New Product</label>
													<select class="custom-select form-control form-control-sm" id="newproduct" name="newproduct">
														<option selected="true" disabled="true">--select--</option>
														
														<option value="true"> true</option>
														<option value="false"> false</option>
														
													</select>

												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Visible</label>
													<select class="custom-select form-control form-control-sm" id="visible" name="visible">
														
														<option selected="true" disabled="true">--select--</option>
														<option value="true"> true</option>
														<option value="false"> false</option>
														
													</select>
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Product Type</label>
													<select class="custom-select form-control form-control-sm" id="product-t" name="product-t">
														<option selected="true" disabled="true">--select--</option>
														
														<option value="Veg"> Veg</option>
														<option value="Non Veg"> Non Veg</option>
														<option value="NA"> NA</option>
														
													</select>
												</div>
											
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Image URL</label>
													<input type="text" class="form-control" id="image-url" placeholder="Enter url">
												</div>
											</div>
										
										</form>

										
										
									</div>
								</div>
								<!--end::Card-->

								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Third</h3>
										</div>
									
									</div>
									<div class="card-body">
										<!--begin: Search Form-->
										<form class="mb-15">
											<div class="row mb-6">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<div class="row">
													<div class="col-sm-4">
													<div class="form-group">
													<center>	<label> <b>&#8722;</b></label> </center>
														<input type="number" min="0" class="form-control" value="0"  id="minusqty" placeholder="Qty">
													</div>
													</div>
												
													<div class="col-sm-4">
													<div class="form-group">
														<center><label> Qty</label> </center>
														<input type="number" class="form-control" value="0" id="avlqty" placeholder=" Qty" disabled>
													</div>
													</div>
													<div class="col-sm-4">
													<div class="form-group">
														<center><label> <b>&#43; </b></label></center>
														<input type="number" min="0" class="form-control" value="0"  id="addqty" placeholder="Qty">
													</div>
													</div>
													</div>
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Price</label>
													<input type="number" min="0" class="form-control" id="price" placeholder="Enter Price">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Discounted Price</label>
													<input type="number" min="0" class="form-control" id="discount-price" placeholder="Enter Discounted Price">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Tax_Inc_Cess in %</label>
													<input type="text" class="form-control"   id="tax_inc_cess" placeholder="Enter Tax_Inc_Cess" >
												</div>
											</div>
											
											<div class="row mb-8">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>CGST in %</label>
													<input type="text" class="form-control"   id="cgst" placeholder="Enter cgst">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>SGST in %</label>
													<input type="text" class="form-control"   id="sgst" placeholder="Enter sgst">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>IGST in %</label>
													<input type="text" class="form-control"  id="igst" placeholder="Enter igst">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>CESS in %</label>
													<input type="text" class="form-control"   id="cess" placeholder="Enter cess">
												</div>
											</div>
										
										</form>

										
										
									</div>
								</div>
								<!--end::Card-->

								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Forth</h3>
										</div>
									
									</div>
									<div class="card-body">
										<!--begin: Search Form-->
										<form class="mb-15">
											<div class="row mb-6">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Expiry(DD-MM-yyyy)</label>
													<input type="text" class="form-control"   id="expiry" placeholder="Enter Expiry">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Description</label>
													<textarea class="form-control"   id="pdesc" placeholder="Enter Product description"> </textarea>
												</div>
												
											</div>
											
											
										
										</form>

										<div class="row mt-8">
												<div class="col-lg-12" style="text-align: right;">
											<button type="submit" class="btn btn-dark" id="submit-btn" > Submit/Add</button></div>
											</div>
										
									</div>
								</div>
								<!--end::Card-->



							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->
				
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
	
	
<script>
const barcodeElement = document.getElementById('product-barcode');
const btnElement = document.getElementById('submit-btn');
var dataUp = 0;
var whlocation ='';
var lclstwhlocation = localStorage.getItem('whlocation');
var lclstBarcode = localStorage.getItem('barcode');
if(!!lclstwhlocation){
	$('#product-barcode').val(lclstBarcode);
	$('#location').val(lclstwhlocation);
}
$('#location').change(function() {
	localStorage.removeItem('barcodeData');
   const barcode = document.getElementById('product-barcode').value; 
    whlocation = document.getElementById('location').value; 
	$('#boxid').val(whlocation);
    	$.ajax({
		method: 'GET',
		url: '/inventory/product-detail-by-barcode?barcode='+barcode+'&whlocation='+whlocation,
		
		success: (data) => {
			
			if(data.status == 1){
				dataUp = 1;
				$('#submit-btn').html('UPDATE');
				dataRes = data.data[0];
				localStorage.setItem('barcodeData',JSON.stringify(dataRes));
			
		$('#product-variant').val(dataRes.name);
		$('#product-group').val(dataRes.group);
		$('#product-category').val(dataRes.category);
		$('#product-type').val(dataRes.type);
		$('#company').val(dataRes.company);
		$('#brand-name').val(dataRes.brand);
        $('#image-url').val(dataRes.sturl);
		$('#boxid').val(dataRes.box_id);
		$('#price').val(dataRes.price);
		$('#discount-price').val(dataRes.discountPrice);
		$('#hsncode').val(parseInt(dataRes.sthsncode));
		if(!dataRes.newproduct)
		dataRes.newproduct=false;
		if(!dataRes.visible)
		dataRes.visible=false;
		if(parseInt(dataRes.qtyavailiable)){
		dataRes.qtyavailiable= dataRes.qtyavailiable;
		}else{
			dataRes.qtyavailiable= 0;
		}
		$('#newproduct').val(dataRes.newproduct.toString());
		$('#visible').val(dataRes.visible.toString());
		$('#origin').val(dataRes.coo);
		//$('#avlqty').val(dataRes.qtyavailiable);
		$('#avlqty').val(parseInt(dataRes.qtyavailiable));
		$('#tax_inc_cess').val(dataRes.sttax_inc_cess*100);
		$('#cgst').val(dataRes.stcgst*100);
		$('#sgst').val(dataRes.stsgst*100);
		$('#igst').val(dataRes.stigst*100);
		$('#cess').val(dataRes.stcess*100);
		$('#expiry').val(dataRes.stexpiry);
		$('#sku').val(dataRes.sku);
		$('#product-t').val(dataRes.product_type);
		$('#pdesc').val(dataRes.stdescription);
		}
		if(data.status == 0){
			
			alert('No Product found, Please fill below fields');
           $('#submit-btn').html(' ADD NEW');
		  // location.reload();
		   

		}
		},
		error: (err) => {
			toastr.error('No Product found', 'Error');
		}
	});
    
})
function getSelectedValue(id) {
	let element = document.getElementById(id);
	const value = element.options[element.selectedIndex].value;
	return value;
}

btnElement.addEventListener('click', function(event) {
	event.preventDefault();
     var barcodeData = JSON.parse(localStorage.getItem('barcodeData')); 
	var name = $('#product-variant').val();
	var barcode = $('#product-barcode').val();
	var group = $('#product-group').val();
	var category = $('#product-category').val();
	var type =	$('#product-type').val();
	var company = $('#company').val();
	var brand = $('#brand-name').val();
    var url = $('#image-url').val();
	var boxid =	$('#boxid').val();
	
	var price = $('#price').val();
	
	var dprice = $('#discount-price').val();
	
	var hsncode = $('#hsncode').val();
	var visible = $('#visible').val();
	var newproduct = $('#newproduct').val();
	var coo = $('#origin').val();
	var tax_inc_cess =	$('#tax_inc_cess').val();
	var cgst = $('#cgst').val();
	var sgst = $('#sgst').val();
	var	igst = $('#igst').val();
	var cess =	$('#cess').val();
	var expiry = $('#expiry').val();
	var sku = $('#sku').val();
	var product_t = $('#product-t').val();
	var avlqty  = $('#avlqty').val();
	var addqty  = $('#addqty').val();
	var minusqty  = $('#minusqty').val();
	addqty = parseInt(addqty);
	minusqty = parseInt(minusqty);
	avlqty = parseInt(avlqty);

	
	
	
	description = $('#pdesc').val();
	whlocation = $('#location').val();



console.log('name',name);
console.log('barcode',barcode);
console.log('group',group);
console.log('category',category);
console.log('type',type);
console.log('company',company);
console.log('brand',brand);
console.log('url',url);
console.log('boxid',boxid);
console.log('price',price);
console.log('dprice',dprice);
console.log('hsncode',hsncode);
console.log('visible',visible);
console.log('avlqty',avlqty);
console.log('newproduct',newproduct);
console.log('coo',coo);
console.log('tax_inc_cess',tax_inc_cess);
console.log('cgst',cgst);
console.log('sgst',sgst);
console.log('cess',cess);
console.log('igst',igst);
console.log('expiry',expiry);
console.log('sku',sku);
console.log('product_type',product_t);
console.log('avlqty',avlqty);
console.log('description',description);


     var m_newInsertFlag = 0;
	 var newInsertFlag = 0;
	 var onlyUpdateFlage = 0;
	 
	 var validationFlag = 0;
	 var finalMinusCheck = 0;
	
	 
	if(!!name && !!group && !!barcode && !!sku && !!category && !!type && !!company && !!boxid && !!price && !!dprice && !!hsncode && !!url && !!expiry && !!product_t){
      validationFlag = 1
	    onlyUpdateFlage = 1;
	}else{
	  validationFlag = 0;
	  alert('Please check if each field is selected and filled');
	}
	
	var  minusqtyCheck =  minusqty - addqty ;

	if(minusqtyCheck > avlqty && minusqty > 0 ){
	validationFlag = 0;
	alert('Quantity can not be less than 0');
	}

	//validationFlag = 0;
	avlqty = avlqty + addqty - minusqty;

	if( dataUp > 0){
	if(barcodeData.sthsncode == hsncode && barcodeData.name == name && barcodeData.price == price && barcodeData.box_id == boxid && barcodeData.sku == sku && barcodeData.discountPrice == dprice) {

	 }
	 if(barcodeData.sthsncode != hsncode && barcodeData.name != name && barcodeData.price != price && barcodeData.box_id != boxid && barcodeData.sku != sku && barcodeData.discountPrice != dprice) {
	 var newInsertFlag = 1;
	 onlyUpdateFlage = 0;
	 }
	if(barcodeData.name != name){
		m_newInsertFlag =1;
		alert('name chnage')
		onlyUpdateFlage = 0;
	}
	if(barcodeData.price != price){
		m_newInsertFlag =1;
		alert('prive chnage')
		onlyUpdateFlage = 0;
	}
	if(barcodeData.discountPrice != dprice){
		m_newInsertFlag =1;
		alert('dprice chnage')
		onlyUpdateFlage = 0;
	}
	if(barcodeData.sku != sku){
		alert('sku chnage')
		m_newInsertFlag =1;
		onlyUpdateFlage = 0;
	}
	if(m_newInsertFlag > 0){
		barcode = barcode+Math.floor(Math.random() * 90 + 10);
	}
	}else{
		newInsertFlag = 1;
		onlyUpdateFlage = 0;
	}
	var insertDataBarcode = {};
	var updateDataBarcode = {};
	var insertDataStore = {};
	var updateDataStore = {};


	
        updateDataStore.name = insertDataStore.name = updateDataBarcode.ProductVariant = insertDataBarcode.ProductVariant = name;
        updateDataStore.group = insertDataStore.group = updateDataBarcode.ProductGroup = insertDataBarcode.ProductGroup = group;
		updateDataStore.type = insertDataStore.type = updateDataBarcode.ProductType = insertDataBarcode.ProductType = type;
		updateDataStore.company = insertDataStore.company = updateDataBarcode.Company = insertDataBarcode.Company = company;
		updateDataStore.brand = insertDataStore.brand = updateDataBarcode.BrandName = insertDataBarcode.BrandName = brand;
		updateDataStore.hsncode = insertDataStore.hsncode = updateDataBarcode.hsncode = insertDataBarcode.hsncode = hsncode.toString();
		updateDataStore.coo = insertDataStore.coo = updateDataBarcode.coi = insertDataBarcode.coi = coo;
		updateDataStore.tax_inc_cess = insertDataStore.tax_inc_cess = updateDataBarcode.tax_inc_cess = insertDataBarcode.tax_inc_cess = tax_inc_cess/100;
		updateDataStore.cgst = insertDataStore.cgst = updateDataBarcode.cgst = insertDataBarcode.cgst = cgst/100;
		updateDataStore.sgst = insertDataStore.sgst = updateDataBarcode.sgst = insertDataBarcode.sgst = sgst/100;	
		updateDataStore.cess = insertDataStore.cess = updateDataBarcode.cess = insertDataBarcode.cess = cess/100;
		updateDataStore.igst = insertDataStore.igst = updateDataBarcode.igst = insertDataBarcode.igst = igst/100;
		updateDataStore.url = insertDataStore.url = updateDataBarcode.url = insertDataBarcode.url = url;
		updateDataStore.description = insertDataStore.description = updateDataBarcode.description = insertDataBarcode.description = description;
		updateDataStore.expiry = insertDataStore.expiry = updateDataBarcode.expiry = insertDataBarcode.expiry = expiry;
		
		updateDataStore.category = insertDataStore.category = updateDataBarcode.ProductCategory = insertDataBarcode.ProductCategory = category;
		insertDataBarcode.Price = updateDataBarcode.Price= price;

		insertDataStore.box_id = updateDataStore.box_id = boxid;
		updateDataStore.sku = insertDataStore.sku = sku.toString();
		updateDataStore.product_type = insertDataStore.product_type = product_t;
		insertDataStore.discountPrice = updateDataStore.discountPrice= dprice;	
		insertDataStore.displayName= name;
		updateDataStore.price = insertDataStore.price= price;
		
		insertDataStore.count=0;
	    updateDataStore.visible =	insertDataStore.visible= visible;
		updateDataStore.qtyavailiable =	insertDataStore.qtyavailiable= avlqty;
		insertDataStore.endpoint='send';


		insertDataStore.newproduct=newproduct;
		updateDataStore.newproduct= newproduct;
		
	
		

		insertDataBarcode.BarCode = barcode;
		insertDataStore.barcode = barcode;
if(validationFlag > 0 && onlyUpdateFlage > 0){
		
	$.ajax({
		method: 'POST',
		url: '/inventory/product-update',
		data: {
			barcode:barcode,
			whlocation:whlocation,
			updateDataStore: updateDataStore,
			updateDataBarcode: updateDataBarcode,
		},
		success: (data) => {
			if(data.status ==1)
			toastr.success(`barcode ${barcode}`, 'updated');
			if(data.status ==0)
			toastr.error(`barcode ${barcode}`, 'Failed');
			setTimeout(function(){ 
				location.href='/product/allproducts';
			 }, 1000);
			
		},
		error: (err) => {
			toastr.error('unable to add product', 'Error');
		}
	});
	}
if(validationFlag > 0 ){

if(m_newInsertFlag > 0 || newInsertFlag > 0){
console.log('m_newInsertFlag'+m_newInsertFlag+'-----'+'newInsertFlag'+newInsertFlag);
	alert('Going to add');
	$.ajax({
		method: 'POST',
		url: '/inventory/product-add',
		data: {
			barcode:barcode,
			insertDataStore: insertDataStore,
			insertDataBarcode: insertDataBarcode,
		},
		success: (data) => {
			if(data.status ==1)
			toastr.success(`barcode ${barcode}`, 'Created');
			if(data.status ==0)
			toastr.error(`barcode ${barcode}`, 'Failed');
				setTimeout(function(){ 
				location.href='/product/allproducts';
			 }, 1000);

		},
		error: (err) => {
			toastr.error('unable to add product', 'Error');
		}
	});
}
}
});
if(!!lclstwhlocation){

	localStorage.removeItem('whlocation');
	localStorage.removeItem('barcode');

	$('#location').trigger('change');
}

</script>

		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Page Vendors-->
		
	</body>
	<!--end::Body-->
</html>


