<section class="content">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Orders</h3>
                </div>
                <div class="card-body">
                    <table id="table-additionals" class="table table-borderd table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" role="col">Sr No.</th>
                                <th class="text-center" role="col">Brand Name</th>
                                <th class="text-center" role="col">Store Name</th>
                                <th class="text-center" role="col">Cut off Time</th>
                                <th class="text-center" role="col">Delivery Timeline</th>
                                <th class="text-center" role="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each additionals}}
                            <tr>
                                <td class="text-center">{{ inc @index }}</td>
								<td class="text-center">
									{{#if this.brandId}}
										{{ this.brand.name }}
									{{else}}
										NA
									{{/if}}
								</td>
								<td class="text-center">
									{{#if this.storeId}}
										{{ this.store.name }}
									{{else}}
										NA
									{{/if}}
								</td>
                                <td class="text-center">{{ this.cutoff_time }}</td>
                                <td class="text-center">{{ this.delivery_timeline }} Day(s)</td>
								<td class="text-center"><a href="/additional/edit?id={{ this.id }}">Edit</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
$(document).ready(function() {
    $('#table-additionals').DataTable();
});
</script>

