<section class="content">
  <div class="container-fluid">
	<div class="row">
	  <!-- left column -->
	  
	  <!--/.col (left) -->
	  <!-- right column -->
	  <div class="col-md-12">
		<!-- general form elements disabled -->
		<div class="card card-primary">
		  <div class="card-header">
			<h3 class="card-title">Store Info</h3>
		  </div>
		  <!-- /.card-header -->
		  <div class="card-body">
			{{#if additional.storeId }}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="pl-store-name">Store Name</label>
							<input type="text" class="form-control" value="{{additional.store.name}}" readonly>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="pl-store-id">Store ID</label>
							<input type="text" class="form-control" value="{{additional.store.store_id}}" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="pl-store-address">Store Address</label>
							<input type="text" class="form-control" value="{{additional.store.address}}" readonly>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="pl-store-url"><a href="{{additional.store.url}}">Store url</a></label>
							<input type="text" class="form-control" value="{{additional.store.url}}" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="pl-store-boxes">Store Boxes</label>
							<input type="text" class="form-control" value="{{additional.store.boxes}}" readonly>
						</div>
					</div>
					<div class="col-md-6"></div>
				</div>
			{{else}}
				NA
			{{/if}}
		  </div>
		  <!-- /.card-body -->
		</div>
		<!-- /.card -->
		<!-- general form elements disabled -->
		
		<!-- /.card -->
	  </div>
	  <!--/.col (right) -->
	</div>
	<!-- /.row -->


	
	<div class="row">
	  <div class="col-md-12">
		<div class="card card-primary">
		  <div class="card-header">
			<h3 class="card-title">Brand Info</h3>
		  </div>
		  <div class="card-body">
			{{#if additional.brandId }}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="pl-brand-name">Brand Name</label>
							<input type="text" class="form-control" id="pl-brand-name" value="{{additional.brand.name}}" readonly>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="pl-brand-id">Brand ID</label>
							<input type="text" class="form-control" id="pl-brand-id" value="{{additional.brand.brand_id}}" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="pl-brand-store-id">Store Id</label>
							<input type="text" class="form-control" id="pl-brand-store-id" value="{{additional.brand.store_id}}" readonly>
						</div>
					</div>
				</div>
			{{else}}
				NA
			{{/if}}
		  </div>
		</div>
		
		<!-- /.card -->
	  </div>
	  <!--/.col (right) -->
	</div>

	<div class="row">
	  <div class="col-md-12">
		<div class="card card-primary">
		  <div class="card-header">
			<h3 class="card-title">Additional Info</h3>
		  </div>
		  <div class="card-body">
			  <form>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-value-slab-1" class="text-success">Slab 1 Value</label>
							<input type="number" class="form-control" id="pl-value-slab-1" value="{{additional.value_slab_1}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-value-slab-2" class="text-warning">Slab 2 Value</label>
							<input type="number" class="form-control" id="pl-value-slab-2" value="{{additional.value_slab_2}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-value-slab-3" class="text-danger">Slab 3 Value</label>
							<input type="number" class="form-control" id="pl-value-slab-3" value="{{additional.value_slab_3}}">
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-delivery-slab-1" class="text-success">Delivery Slab 1</label>
							<input type="number" class="form-control" id="pl-delivery-slab-1" value="{{additional.delivery_slab_1}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-delivery-slab-2" class="text-warning">Delivery Slab 2</label>
							<input type="number" class="form-control" id="pl-delivery-slab-2" value="{{additional.delivery_slab_2}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-delivery-slab-3" class="text-danger">Delivery Slab 3</label>
							<input type="number" class="form-control" id="pl-delivery-slab-3" value="{{additional.delivery_slab_3}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-delivery-minimum">Delivery Minimum</label>
							<input type="number" class="form-control" id="pl-delivery-minimum" value="{{additional.delivery_min}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-coordination-slab-1" class="text-success">Coordination Slab 1</label>
							<input type="number" class="form-control" id="pl-coordination-slab-1" value="{{additional.coordination_slab_1}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-coordination-slab-2" class="text-warning">Coordination Slab 2</label>
							<input type="number" class="form-control" id="pl-coordination-slab-2" value="{{additional.coordination_slab_2}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-coordination-slab-3" class="text-danger">Coordination Slab 3</label>
							<input type="number" class="form-control" id="pl-coordination-slab-3" value="{{additional.coordination_slab_3}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-coordination-minimum">Coordination Minimum</label>
							<input type="number" class="form-control" id="pl-coordination-minimum" value="{{additional.coordination_min}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-pack-slab-1" class="text-success">Packaging Slab 1</label>
							<input type="number" class="form-control" id="pl-pack-slab-1" value="{{additional.pack_slab_1}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-pack-slab-2" class="text-warning">Packaging Slab 2</label>
							<input type="number" class="form-control" id="pl-pack-slab-2" value="{{additional.pack_slab_2}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-pack-slab-3" class="text-danger">Packaging Slab 3</label>
							<input type="number" class="form-control" id="pl-pack-slab-3" value="{{additional.pack_slab_3}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-pack-minimum">Packaging Minimum</label>
							<input type="number" class="form-control" id="pl-pack-minimum" value="{{additional.pack_min}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-misc-slab-1" class="text-success">Miscellaneous Slab 1</label>
							<input type="number" class="form-control" id="pl-misc-slab-1" value="{{additional.misc_slab_1}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-misc-slab-2" class="text-warning">Miscellaneous Slab 2</label>
							<input type="number" class="form-control" id="pl-misc-slab-2" value="{{additional.misc_slab_2}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-misc-slab-3" class="text-danger">Miscellaneous Slab 3</label>
							<input type="number" class="form-control" id="pl-misc-slab-3" value="{{additional.misc_slab_3}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-misc-minimum">Miscellaneous Minimum</label>
							<input type="number" class="form-control" id="pl-misc-minimum" value="{{additional.misc_min}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-process-slab-1" class="text-success">Processing Slab 1</label>
							<input type="number" class="form-control" id="pl-process-slab-1" value="{{additional.process_slab_1}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-process-slab-2" class="text-warning">Processing Slab 2</label>
							<input type="number" class="form-control" id="pl-process-slab-2" value="{{additional.process_slab_2}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-process-slab-3" class="text-danger">Processing Slab 3</label>
							<input type="number" class="form-control" id="pl-process-slab-3" value="{{additional.process_slab_3}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-process-minimum">Processing Minimum</label>
							<input type="number" class="form-control" id="pl-process-minimum" value="{{additional.process_min}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-disc-slab-1" class="text-success">Discount Slab 1</label>
							<input type="number" class="form-control" id="pl-disc-slab-1" value="{{additional.disc_slab_1}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-disc-slab-2" class="text-warning">Discount Slab 2</label>
							<input type="number" class="form-control" id="pl-disc-slab-2" value="{{additional.disc_slab_2}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-disc-slab-3" class="text-danger">Discount Slab 3</label>
							<input type="number" class="form-control" id="pl-disc-slab-3" value="{{additional.disc_slab_3}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-disc-minimum">Discount Minimum</label>
							<input type="number" class="form-control" id="pl-disc-minimum" value="{{additional.disc_max_per}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-disc-slab-max-1" class="text-success">Max Discount Slab 1</label>
							<input type="number" class="form-control" id="pl-disc-slab-max-1" value="{{additional.disc_slab_max_1}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-disc-slab-max-2" class="text-warning">Max Discount Slab 2</label>
							<input type="number" class="form-control" id="pl-disc-slab-max-2" value="{{additional.disc_slab_max_2}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-disc-slab-max-3" class="text-danger">Max Discount Slab 3</label>
							<input type="number" class="form-control" id="pl-disc-slab-max-3" value="{{additional.disc_slab_max_3}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-disc-minimum">Max Discount</label>
							<input type="number" class="form-control" id="pl-disc-minimum" value="{{additional.disc_slab_max}}">
						</div>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-minimum-order-value">Minimum Order Value</label>
							<input type="number" class="form-control" id="pl-minimum-order-value" value="{{additional.min_order_value}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-delivery_timeline">Delivery Timeline (Days)</label>
							<input type="number" class="form-control" id="pl-delivery_timeline" value="{{additional.delivery_timeline}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-cutoff_time">Cut Off Time</label>
							<input type="time" class="form-control" value="{{additional.cutoff_time}}">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="pl-sunday-available">Sunday Delivery Available</label>
							<select class="custom-select custom-select-sm form-control form-control-sm">
								<option value="0" {{#if additional.sunday_available}}selected="true"{{/if}}>Available</option>
								<option value="1" {{#if additional.sunday_available}}{{else}}selected="true"{{/if}}>Not Available</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		  </div>
		</div>
		
		<!-- /.card -->
	  </div>
	  <!--/.col (right) -->
	</div>
  </div><!-- /.container-fluid -->
</section>
<script>
$('#timepicker').datetimepicker({
      format: 'LT'
})
</script>
