<section class="content">
  <div class="container-fluid">
	<div class="row">
	  <!-- left column -->
	  
	  <!--/.col (left) -->
	  <!-- right column -->
	  <div class="col-md-12">
		<!-- general form elements disabled -->
		<div class="card card-primary">
		  {{!-- <div class="card-header">
			<h3 class="card-title">Add/Update Product</h3>
		  </div> --}}
		  <!-- /.card-header -->
		  <div class="card-body">
			  
			<form role="form">
                 <div class="row">
				
				<div class="col-sm-6">
				  <!-- text input -->
				  <div class="form-group">
					<label>Bar Code</label>
					<input type="text" class="form-control" placeholder="Enter Barcode" id="product-barcode" value="{{ barcode }}" >
				  </div>
				</div>
				<div class="col-sm-6">
				  <div class="form-group">
					<label>Location</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="location">
						<option selected="true" disabled="true">--select--</option>
							{{!-- <option value="">Bandra</option>
								<option value="">Powai</option> --}}

						{{#each location}}
							<option value="{{ this.locid }}">{{ this.name }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
                
				
			  </div>
			  <div class="row" style="border-style: none;">
				<div class="col-sm-3">
				  <!-- text input -->
				  <div class="form-group">
					<label>Product Name</label>
					<input type="text" class="form-control" id="product-variant" placeholder="Enter Product Name">
				  </div>
				</div>
				
				<div class="col-sm-3">
				  <div class="form-group">
					<label>Product Type</label>
					<select id="product-type" class="custom-select custom-select-sm form-control form-control-sm">
						<option selected="true" disabled="true">--select--</option>
						{{#each type}}
							<option value="{{ ProductType }}">{{ ProductType }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
                
               
				
				
                <div class="col-sm-3">
				  <div class="form-group">
					<label>Origin</label>
					<input type="text" class="form-control"   id="origin" placeholder="Enter Country of Origin">
				  </div>
				</div>
				<div class="col-sm-3">
				  <div class="form-group">
					<label>SKU Size</label>
					<input type="text" class="form-control"   id="sku" placeholder="Enter SKU Size">
				  </div>
				</div>
				
                
			  </div>
			  <br>
		
			  <div class="row">
         <div class="col-sm-3">
				  <div class="form-group">
					<label>Product Category</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="product-category">
						<option selected="true" disabled="true">--select--</option>
						{{#each category}}
							<option value="{{ ProductCategory }}">{{ ProductCategory }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
				<div class="col-sm-3">
				  <div class="form-group">
					<label>Product Group</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="product-group">
						<option selected="true" disabled="true">--select--</option>
						{{#each group}}
							<option value="{{ ProductGroup }}">{{ ProductGroup }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
				 <div class="col-sm-3">
				  <div class="form-group">
					<label>Company</label>
					<select id="company" name="company" class="custom-select custom-select-sm form-control form-control-sm">
						<option selected="true" disabled="true">--select--</option>
						{{#each company}}
							<option value="{{ Company }}">{{ Company }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
                <div class="col-sm-3">
				  <div class="form-group">
					<label>Brand Name</label>
					<select id="brand-name" class="custom-select custom-select-sm form-control form-control-sm">
						<option selected="true" disabled="true">--select--</option>
						{{#each brand}}
							<option value="{{ BrandName }}">{{ BrandName }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
			  </div>
<br>
			<div class="row" style="border-style: none;" >
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Image URL</label>
					<input type="text" class="form-control" id="image-url" placeholder="Enter url">
				  </div>
				</div>
				{{!-- <div class="col-sm-2">
				  <div class="form-group">
					<label>Box-Id</label>
					<input type="text" class="form-control"  id="boxid" placeholder="Enter Box Id">
				  </div>
				</div> --}}
				<div class="col-sm-2">
				  <div class="form-group">
					<label>Box-Id</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="boxid">
						<option selected="true" disabled="true">--select--</option>
							{{!-- <option value="">Bandra</option>
								<option value="">Powai</option> --}}

						{{#each location}}
							<option value="{{ this.locid }}">{{ this.locid }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
				
                
				 <div class="col-sm-2">
				  <div class="form-group">
					<label>HSN Code</label>
					<input type="number" min="0" class="form-control"   id="hsncode" placeholder="Enter HSN Code">
				  </div>
				</div>
				<div class="col-sm-1">
				  <div class="form-group">
				<center>	<label> <b>&#8722;</b></label> </center>
					<input type="number" min="0" class="form-control" value="0"  id="minusqty" placeholder="Qty">
				  </div>
				</div>
               
				 <div class="col-sm-1">
				  <div class="form-group">
					<center><label> Qty</label> </center>
					<input type="number" class="form-control" value="0" id="avlqty" placeholder=" Qty" disabled>
				  </div>
				</div>
				<div class="col-sm-1">
				  <div class="form-group">
					<center><label> <b>&#43; </b></label></center>
					<input type="number" min="0" class="form-control" value="0"  id="addqty" placeholder="Qty">
				  </div>
				</div>
				
			</div>
<br>
			  <div class="row" style="border-style: none;">  
				  <div class="col-sm-2">
				  <div class="form-group">
					<label>Price</label>
					<input type="number" min="0" class="form-control" id="price" placeholder="Enter Price">
				  </div>
				</div>                 
				<div class="col-sm-2">
				  <div class="form-group">
					<label>Discounted Price</label>
					<input type="number" min="0" class="form-control" id="discount-price" placeholder="Enter Discounted Price">
				  </div>
				</div>
                <div class="col-sm-2">
				  <div class="form-group">
					<label>New Product</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="newproduct" name="newproduct">
						<option selected="true" disabled="true">--select--</option>
						
						   <option value="true"> true</option>
                           <option value="false"> false</option>
						
					</select>
				  </div>
				</div>
				  <div class="col-sm-2">
				  <div class="form-group">
					<label>Visible</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="visible" name="visible">
						
						<option selected="true" disabled="true">--select--</option>
						   <option value="true"> true</option>
                           <option value="false"> false</option>
						
					</select>
				  </div>
				</div>
				 <div class="col-sm-2">
				  <div class="form-group">
					<label>Product Type</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="product-t" name="product-t">
						<option selected="true" disabled="true">--select--</option>
						
						   <option value="Veg"> Veg</option>
                           <option value="Non Veg"> Non Veg</option>
                           <option value="NA"> NA</option>
						
					</select>
				  </div>
				</div>
               
			 
				</div>
				<br>
				<div class="row" style="border-style:none">   
               
                
                <div class="col-sm-2">
				  <div class="form-group">
					<label>CGST in %</label>
					<input type="text" class="form-control"   id="cgst" placeholder="Enter cgst">
				  </div>
				</div>
                <div class="col-sm-2">
				  <div class="form-group">
					<label>SGST in %</label>
					<input type="text" class="form-control"   id="sgst" placeholder="Enter sgst">
				  </div>
				</div>
                <div class="col-sm-2">
				  <div class="form-group">
					<label>IGST in %</label>
					<input type="text" class="form-control"  id="igst" placeholder="Enter igst">
				  </div>
				</div>
                <div class="col-sm-2">
				  <div class="form-group">
					<label>CESS in %</label>
					<input type="text" class="form-control"   id="cess" placeholder="Enter cess">
				  </div>
				</div>
				 <div class="col-sm-2">
				  <div class="form-group">
					<label>Tax_Inc_Cess in %</label>
					<input type="text" class="form-control"   id="tax_inc_cess" placeholder="Enter Tax_Inc_Cess" >
				  </div>
				</div>
				</div>
				<br>
				<div class="row" style="border-style: none;">
                
				
				<div class="col-sm-3">
				  <div class="form-group">
					<label>Expiry(DD-MM-yyyy)</label>
					<input type="text" class="form-control"   id="expiry" placeholder="Enter Expiry">
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Description</label>
					<textarea class="form-control"   id="pdesc" placeholder="Enter Product description"> </textarea>
				  </div>
				</div>


			  </div>
			  
			  <div class="row float-sm-right">                   
				<div class="col-sm-4">
					<button type="submit" class="btn btn-dark" id="submit-btn" > Submit/Add</button>
				</div>
			  </div>

			  
			</form>
		  </div>
		  <!-- /.card-body -->
		</div>
		<!-- /.card -->
		<!-- general form elements disabled -->
		
		<!-- /.card -->
	  </div>
	  <!--/.col (right) -->
	</div>
	<!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<script>
const barcodeElement = document.getElementById('product-barcode');
const btnElement = document.getElementById('submit-btn');
var dataUp = 0;
var whlocation ='';
var lclstwhlocation = localStorage.getItem('whlocation');
var lclstBarcode = localStorage.getItem('barcode');
if(!!lclstwhlocation){
	$('#product-barcode').val(lclstBarcode);
	$('#location').val(lclstwhlocation);
}
$('#location').change(function() {
	localStorage.removeItem('barcodeData');
   const barcode = document.getElementById('product-barcode').value; 
   // whlocation = document.getElementById('location').value; 
//	$('#boxid').val(whlocation);
    	$.ajax({
		method: 'GET',
		url: '/inventory/inventory-detail-by-barcode?barcode='+barcode,
		
		success: (data) => {
			
			if(data.status == 1){
				dataUp = 1;
				$('#submit-btn').html('UPDATE');
				dataRes = data.data[0];
				localStorage.setItem('barcodeData',JSON.stringify(dataRes));
			
		$('#product-variant').val(dataRes.name);
		$('#product-group').val(dataRes.group);
		$('#product-category').val(dataRes.category);
		$('#product-type').val(dataRes.type);
		$('#company').val(dataRes.company);
		$('#brand-name').val(dataRes.brand);
        $('#image-url').val(dataRes.sturl);
		$('#boxid').val(dataRes.box_id);
		$('#price').val(dataRes.price);
		$('#discount-price').val(dataRes.discountPrice);
		$('#hsncode').val(parseInt(dataRes.sthsncode));
		if(!dataRes.newproduct)
		dataRes.newproduct=false;
		if(!dataRes.visible)
		dataRes.visible=false;
		if(parseInt(dataRes.qtyavailiable)){
		dataRes.qtyavailiable= dataRes.qtyavailiable;
		}else{
			dataRes.qtyavailiable= 0;
		}
		$('#newproduct').val(dataRes.newproduct.toString());
		$('#visible').val(dataRes.visible.toString());
		$('#origin').val(dataRes.coo);
		//$('#avlqty').val(dataRes.qtyavailiable);
		$('#avlqty').val(parseInt(dataRes.qtyavailiable));
		$('#tax_inc_cess').val(dataRes.sttax_inc_cess*100);
		$('#cgst').val(dataRes.stcgst*100);
		$('#sgst').val(dataRes.stsgst*100);
		$('#igst').val(dataRes.stigst*100);
		$('#cess').val(dataRes.stcess*100);
		$('#expiry').val(dataRes.stexpiry);
		$('#sku').val(dataRes.sku);
		$('#product-t').val(dataRes.product_type);
		$('#pdesc').val(dataRes.stdescription);
		}
		if(data.status == 0){
			
			alert('No Product found, Please fill below fields');
           $('#submit-btn').html(' ADD NEW');
		  // location.reload();
		   

		}
		},
		error: (err) => {
			toastr.error('No Product found', 'Error');
		}
	});
    
})
function getSelectedValue(id) {
	let element = document.getElementById(id);
	const value = element.options[element.selectedIndex].value;
	return value;
}

btnElement.addEventListener('click', function(event) {
	event.preventDefault();
     var barcodeData = JSON.parse(localStorage.getItem('barcodeData')); 
	var name = $('#product-variant').val();
	var barcode = $('#product-barcode').val();
	var group = $('#product-group').val();
	var category = $('#product-category').val();
	var type =	$('#product-type').val();
	var company = $('#company').val();
	var brand = $('#brand-name').val();
    var url = $('#image-url').val();
	var boxid =	$('#boxid').val();
	
	var price = $('#price').val();
	
	var dprice = $('#discount-price').val();
	
	var hsncode = $('#hsncode').val();
	var visible = $('#visible').val();
	var newproduct = $('#newproduct').val();
	var coo = $('#origin').val();
	var tax_inc_cess =	$('#tax_inc_cess').val();
	var cgst = $('#cgst').val();
	var sgst = $('#sgst').val();
	var	igst = $('#igst').val();
	var cess =	$('#cess').val();
	var expiry = $('#expiry').val();
	var sku = $('#sku').val();
	var product_t = $('#product-t').val();
	var avlqty  = $('#avlqty').val();
	var addqty  = $('#addqty').val();
	var minusqty  = $('#minusqty').val();
	addqty = parseInt(addqty);
	minusqty = parseInt(minusqty);
	avlqty = parseInt(avlqty);
	
	
	description = $('#pdesc').val();
	whlocation = $('#location').val();



console.log('name',name);
console.log('barcode',barcode);
console.log('group',group);
console.log('category',category);
console.log('type',type);
console.log('company',company);
console.log('brand',brand);
console.log('url',url);
console.log('boxid',boxid);
console.log('price',price);
console.log('dprice',dprice);
console.log('hsncode',hsncode);
console.log('visible',visible);
console.log('avlqty',avlqty);
console.log('newproduct',newproduct);
console.log('coo',coo);
console.log('tax_inc_cess',tax_inc_cess);
console.log('cgst',cgst);
console.log('sgst',sgst);
console.log('cess',cess);
console.log('igst',igst);
console.log('expiry',expiry);
console.log('sku',sku);
console.log('product_type',product_t);
console.log('avlqty',avlqty);
console.log('description',description);


     var m_newInsertFlag = 0;
	 var newInsertFlag = 0;
	 var onlyUpdateFlage = 0;
	 
	 var validationFlag = 0;
	 var finalMinusCheck = 0;
	
	 
	if(!!name && !!group && !!barcode && !!sku && !!category && !!type && !!company && !!boxid && !!price && !!dprice && !!hsncode && !!url && !!expiry && !!product_t){
      validationFlag = 1
	    onlyUpdateFlage = 1;
	}else{
	  validationFlag = 0;
	  alert('Please check if each field is selected and filled');
	}
	
	var  minusqtyCheck =  minusqty - addqty ;

	if(minusqtyCheck > avlqty && minusqty > 0 ){
	validationFlag = 0;
	alert('Quantity can not be less than 0');
	}

	//validationFlag = 0;
	avlqty = avlqty + addqty - minusqty;

	if( dataUp > 0){
	if(barcodeData.sthsncode == hsncode && barcodeData.name == name && barcodeData.price == price && barcodeData.box_id == boxid && barcodeData.sku == sku && barcodeData.discountPrice == dprice) {

	 }
	 if(barcodeData.sthsncode != hsncode && barcodeData.name != name  && barcodeData.box_id != boxid && barcodeData.sku != sku && barcodeData.price != price) {
	 var newInsertFlag = 1;
	 onlyUpdateFlage = 0;
	 }
	if(barcodeData.name != name){
		m_newInsertFlag =1;
		$('#submit-btn').html(' ADD NEW');
		alert('name change')
		onlyUpdateFlage = 0;
	}
	if(barcodeData.price != price){
		m_newInsertFlag =1;
		  $('#submit-btn').html(' ADD NEW');
		alert('prive chnage')
		onlyUpdateFlage = 0;
	}
	if(barcodeData.discountPrice != dprice){
	//	m_newInsertFlag =1;
	//	alert('dprice chnage')
	//	onlyUpdateFlage = 0;
	}
	if(barcodeData.sku != sku){
		$('#submit-btn').html(' ADD NEW');
		alert('sku chnage')
		m_newInsertFlag =1;
		onlyUpdateFlage = 0;
	}
	if(m_newInsertFlag > 0){
	var lstSixUtc =	parseInt(Date.now() / 100).toString()
		 lstSixUtc = lstSixUtc.substr(-6);
		lstSixUtc = parseInt(lstSixUtc);
	

		barcode = parseInt(barcode);
	
		barcode = barcode+lstSixUtc;
		barcode = barcode.toString();
	
	}
	}else{
		newInsertFlag = 1;
		onlyUpdateFlage = 0;
	}
	var insertDataBarcode = {};
	var updateDataBarcode = {};
	var insertDataStore = {};
	var updateDataStore = {};


	
        updateDataStore.name = insertDataStore.name = updateDataBarcode.ProductVariant = insertDataBarcode.ProductVariant = name;
        updateDataStore.group = insertDataStore.group = updateDataBarcode.ProductGroup = insertDataBarcode.ProductGroup = group;
		updateDataStore.type = insertDataStore.type = updateDataBarcode.ProductType = insertDataBarcode.ProductType = type;
		updateDataStore.company = insertDataStore.company = updateDataBarcode.Company = insertDataBarcode.Company = company;
		updateDataStore.brand = insertDataStore.brand = updateDataBarcode.BrandName = insertDataBarcode.BrandName = brand;
		updateDataStore.hsncode = insertDataStore.hsncode = updateDataBarcode.hsncode = insertDataBarcode.hsncode = hsncode.toString();
		updateDataStore.coo = insertDataStore.coo = updateDataBarcode.coi = insertDataBarcode.coi = coo;
		updateDataStore.tax_inc_cess = insertDataStore.tax_inc_cess = updateDataBarcode.tax_inc_cess = insertDataBarcode.tax_inc_cess = tax_inc_cess/100;
		updateDataStore.cgst = insertDataStore.cgst = updateDataBarcode.cgst = insertDataBarcode.cgst = cgst/100;
		updateDataStore.sgst = insertDataStore.sgst = updateDataBarcode.sgst = insertDataBarcode.sgst = sgst/100;	
		updateDataStore.cess = insertDataStore.cess = updateDataBarcode.cess = insertDataBarcode.cess = cess/100;
		updateDataStore.igst = insertDataStore.igst = updateDataBarcode.igst = insertDataBarcode.igst = igst/100;
		updateDataStore.url = insertDataStore.url = updateDataBarcode.url = insertDataBarcode.url = url;
		updateDataStore.description = insertDataStore.description = updateDataBarcode.description = insertDataBarcode.description = description;
		updateDataStore.expiry = insertDataStore.expiry = updateDataBarcode.expiry = insertDataBarcode.expiry = expiry;
		
		updateDataStore.category = insertDataStore.category = updateDataBarcode.ProductCategory = insertDataBarcode.ProductCategory = category;
		insertDataBarcode.Price = updateDataBarcode.Price= price;

		insertDataStore.box_id = updateDataStore.box_id = boxid;
		updateDataStore.sku = insertDataStore.sku = sku.toString();
		updateDataStore.product_type = insertDataStore.product_type = product_t;
		insertDataStore.discountPrice = updateDataStore.discountPrice= dprice;	
		insertDataStore.displayName= name;
		updateDataStore.price = insertDataStore.price= price;
		
		insertDataStore.count=0;
	    updateDataStore.visible =	insertDataStore.visible= visible;
		updateDataStore.qtyavailiable =	insertDataStore.qtyavailiable= avlqty;
		insertDataStore.endpoint='send';


		insertDataStore.newproduct=newproduct;
		updateDataStore.newproduct= newproduct;
		
	
		

		insertDataBarcode.BarCode = barcode;
		insertDataStore.barcode = barcode;
if(validationFlag > 0 && onlyUpdateFlage > 0){
		
	$.ajax({
		method: 'POST',
		url: '/inventory/product-update',
		data: {
			barcode:barcode,
			whlocation:whlocation,
			updateDataStore: updateDataStore,
			updateDataBarcode: updateDataBarcode,
		},
		success: (data) => {
			if(data.status ==1)
			toastr.success(`barcode ${barcode}`, 'updated');
			if(data.status ==0)
			toastr.error(`barcode ${barcode}`, 'Failed');
			setTimeout(function(){ 
				location.href='/product/allproducts';
			 }, 1000);
			
		},
		error: (err) => {
			toastr.error('unable to add product', 'Error');
		}
	});
	}
if(validationFlag > 0 ){

if(m_newInsertFlag > 0 || newInsertFlag > 0){
console.log('m_newInsertFlag'+m_newInsertFlag+'-----'+'newInsertFlag'+newInsertFlag);
	alert('Going to add');
	$.ajax({
		method: 'POST',
		url: '/inventory/product-add',
		data: {
			barcode:barcode,
			insertDataStore: insertDataStore,
			insertDataBarcode: insertDataBarcode,
		},
		success: (data) => {
			if(data.status ==1)
			toastr.success(`barcode ${barcode}`, 'Created');
			if(data.status ==0)
			toastr.error(`barcode ${barcode}`, 'Failed');
				setTimeout(function(){ 
				location.href='/product/allproducts';
			 }, 1000);

		},
		error: (err) => {
			toastr.error('unable to add product', 'Error');
		}
	});
	
}
}
});
if(!!lclstwhlocation){

	localStorage.removeItem('whlocation');
	localStorage.removeItem('barcode');

	$('#location').trigger('change');
}

</script>
