
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<title>Order Dashboard</title>
		<meta name="description" content="List option - 1 example" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="canonical" href="https://keenthemes.com/metronic" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
<style>
 @keyframes blinking {
        0% {
          background-color: #ECFDF5;
        }
        100% {
          background-color: #f07565;
        }
      }
      #blink {
      padding: 6px;
        animation: blinking 1s infinite;
      }

	</style>
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
						
							<div class="content flex-column-fluid" id="kt_content">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->

									 {{#each order}}

									

									 {{#ifequals orderitems.[0].storeId "175" }}

									 {{#ifequals status "RECEIVED" }}
									 
									 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6"  id="{{ ./this.order_id }}">
									 {{else}}

									  {{#ifequals status "CONFIRMED" }}
									  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6"  id="{{ ./this.order_id }}">
									   {{else}}
									 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 dsds" style="display:none" id="{{ ./this.order_id }}">
									 {{/ifequals}}
									 
									 {{/ifequals}}
									 {{else}}
									 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 dsds" style="display:none" id="{{ ./this.order_id }}">
									 {{/ifequals}}
									
								
					
										<!--begin::Card-->
											 
										          	{{#ordertransaction.gateway}}
														{{#if ( includes "RAZ" )}} 
													 <div class="card card-custom gutter-b card-stretch" style=" box-shadow: 2px 5px #888888;">
                                
                                                         {{else if ( includes "CASH" )}} 
													
 													<div class="card card-custom gutter-b card-stretch" style=" box-shadow: 2px 5px #888888;" >
															{{else}}
													<div class="card card-custom gutter-b card-stretch" style="background-color: rgba(255,255,240,0.3); box-shadow: 2px 5px #888888;" >
															{{/if}}

												{{/ordertransaction.gateway}}
											
											
											<!--begin::Body-->
											<div class="card-body pt-4" class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%; max-height: 40vh;">

												<div class="mb-7">
		{{#gt (datedifference ./this.createdAt) 2}}
			<div id="blink">
{{else}}
  <div>

{{/gt}}
 <b><span>Total Items : {{./this.orderitems.length}}</span></b>

<table style="display: none;">
   <thead >
                                           <tr>
                                          <th>{{ ./this.order_id }}</th>
                                           <th><span id='{{ ./this.order_id }}'>{{datedifference ./this.createdAt}}</span> minutes</th>
										   <span class='change-{{ ./this.order_id }}' style="display: none;">{{ ./this.createdAt}}</span>
                                         </tr>
                                         </thead></table>
													
														 <div class="d-flex justify-content-between align-items-center py-3">
														<span class="text-dark-75 font-weight-bolder mr-2">{{ ./this.order_id }}</span>
                                                        <span class="text-dark-75 font-weight-bolder" id="chage-{{ ./this.order_id }}">{{datedifference ./this.createdAt}} Min</span>
													</div>
													</div>
													
											  <table class="table">
                                          <tbody>

							            {{#each ./this.orderitems}}
                                           <tr>

							              	<td>{{././this.barcodemaster.ProductVariant }}</td>
                              
                                            <td>{{quantity}}</td>
								
                                          </tr>
                          

							        	{{/each}}
                              
                        </tbody>
                    </table>
												</div>
												<!--end::Info-->
                                             
												{{!-- <a href="#" class="btn btn-block btn-sm btn-light-success font-weight-bolder text-uppercase py-4">write message</a> --}}
											</div>
											<!--end::Body-->
											
											   <div class="card-footer">
														<div class="btn-group btn-group-toggle" data-toggle="buttons">
															<label class="btn btn-success active">
								
															<a onclick="hide('{{./this.order_id}}','{{ this.orderitems.[0].storeId}}')"><input type="radio" name="options" id="option1" checked="checked" />Packed</label></a>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															 {{#ordertransaction.gateway}}
														{{#if ( includes "RAZ" )}} 
													   <label class="btn btn-success"><input type="radio" name="options" id="option2" />Prepaid</label>
                                
                                                         {{else if ( includes "CASH" )}} 
													
 														<label class="btn btn-success"><input type="radio" name="options" id="option2" />Prepaid</label>
															{{else}}
															<label class="btn btn-success" ><input type="radio" name="options" id="option2" />COD</label><label class="btn btn-secondary" >Rs {{../this.obillamount}}</label>
															{{/if}}

															 {{/ordertransaction.gateway}}



								

															
														</div>

													</div>
										</div>
										<!--end:: Card-->
									</div>
									{{/each}}
									<!--end::Col-->
                                    <!--begin::Col-->
							
									<!--end::Col-->
									<!--begin::Col-->
								
									<!--end::Col-->
									<!--begin::Col-->
							
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->
							
								<!--end::Row-->
								<!--begin::Pagination-->
						
								<!--end::Pagination-->
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->
					
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		
		
		
	
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>



		<script>

		function updateOrder(orderId,storeId) {
    let status = 'DISPATCHED';

	var stid = storeId;
     
    if(storeId == "239"){

        storeId = "e0512496BANR";
    }else{
        storeId = "e0512496NSKI";
    }

    $.ajax({
        method: 'GET',
        url: `/api/status?orderId=${orderId}&status=${status}&location=${storeId}&storeid=${stid}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
				var divtohide = "#"+orderId;
				$(divtohide).hide("slow");

				location.reload();
               // toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
}

			function hide(orderid,storeId){


			
//alert('storeId -'+storeId);
			updateOrder(orderid,storeId);

				
			}

setInterval(function(){ 

	$('table span[id]').each(function() {

		var pre = $(`.change-${this.id}`).html();

		var mins = datediff(pre);
  console.log(mins);
$(`#chage-${this.id}`).html(mins+" Min");

$(`.chage-${this.id}`).html(mins+" Min");

//$(`#${this.id}`).html(mins+" Min");

})

 }, 1000);

setInterval(function(){ 

	var lastorder = $(".row").children(":first").attr("id");

	


			$.get( "/cart/livefeed", function( order ) {

				var orederItem = "";
				var gatewayThings="";
				var colorCodingThigs="";

				for(i=0;i<order[0].orderitems.length;i++){

console.log(order[0].orderitems);
if(order[0].ordertransaction.gateway == 'CASHFREE' || order[0].ordertransaction.gateway == 'Razorpay' || order[0].ordertransaction.gateway == 'RAZORPAY'){
	     colorCodingThigs += `<div class="card card-custom gutter-b card-stretch" style=" box-shadow: 2px 5px #888888;">`
gatewayThings +=`<label class="btn btn-success"><input type="radio" name="options" id="option2" />Prepaid</label>`

}else{
	 colorCodingThigs += `<div class="card card-custom gutter-b card-stretch" style="background-color: rgba(255,255,240,0.3); box-shadow: 2px 5px #888888;" >`
	gatewayThings +=`<label class="btn btn-success" ><input type="radio" name="options" id="option2" />COD</label><label class="btn btn-secondary" >Rs ${order[0].obillamount}</label>`
}
					orederItem += `<tr>
<td>${order[0].orderitems[i].name}</td>
<td>${order[0].orderitems[i].quantity}</td>
</tr>`




				}

				if(lastorder == order[0].order_id ){

				}else{


    var   divhtml = `	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" id="${order[0].order_id}">
         <!--begin::Card-->
         ${colorCodingThigs}
                 <!--begin::Body-->
                 <div class="card-body pt-4">
                  <b><span style='margin-left: 3%;'>Total Items : ${order[0].orderitems.length}</span></b>
			
                         <!--begin::Info-->
                         <div class="mb-7">
                                 {{!-- <div class="d-flex justify-content-between align-items-center border-bottom py-3 mb-3">
                                         <span class="text-dark-75 font-weight-bolder mr-2">qf-9418-803558-0789</span>
<span class="text-muted" id="${order[0].order_id}">${datediff (order[0].createdAt) } min</span>
                                 </div>
                                 <div class="d-flex justify-content-between align-items-cente my-1">
                                         <span class="text-dark-75 font-weight-bolder mr-2">McCain French Fries Regular Pack S Cut 420G</span>
                                         <span class="text-muted">3</span>
                                 </div>
                                 <div class="d-flex justify-content-between align-items-center">
                                         <span class="text-dark-75 font-weight-bolder mr-2">Amul Cow Ghee Tuppa 1 L Pouch</span><span class="text-muted">3</span>
                                 </div> --}}
<table class="table">
   <thead >
                                           <tr>
                                          <th>${order[0].order_id}</th>
                                           <th><span id='${order[0].order_id}' class='chage-${order[0].order_id}'>${datediff (order[0].createdAt) } Min</span> </th>
										   <span class='change-${order[0].order_id}' style="display: none;">${ order[0].createdAt }</span>
                                         </tr>
                                         </thead>
<tbody>


${orederItem}




</tbody>
</table>
                         </div>
                         <!--end::Info-->

                         {{!-- <a href="#" class="btn btn-block btn-sm btn-light-success font-weight-bolder text-uppercase py-4">write message</a> --}}
                 </div>
                 <!--end::Body-->
                 
                    <div class="card-footer">
                                         <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                 <label class="btn btn-success active">

                                                 <a onclick="hide('${order[0].order_id}','${order[0].orderitems[0].storeId}')"><input type="radio" name="options" id="option1" checked="checked" />Packed</label></a>
                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                 ${gatewayThings}

                                                 
                                         </div>
                                 </div>
         </div>
         <!--end:: Card-->
 </div>`;

  
//console.log(divhtml);


$(".row").prepend(divhtml);

location.reload();

				}

});
 }, 1000);



 function datediff(startdate){

		var today = new Date();
var Christmas = new Date(startdate);
var diffMs = (today - Christmas);
// console.log(diffMs);

//var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);


var diffMins =(today.getTime() - Christmas.getTime()) / 100000;

return Math.abs(Math.round(diffMins));

		}
	
		</script>
		<!--end::Global Theme Bundle-->
	</body>
	<!--end::Body-->
</html> 
 
 
 
 