
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		
	</head>
	
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
							
							<div class="content flex-column-fluid" id="kt_content">
								
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Products</h3>
										</div>
										
									</div>
									<div class="card-body">
<!--begin::Search Form-->
												<div class="mb-10">
													<div class="row align-items-center">
														<div class="col-lg-6 col-xl-8">
															<div class="row align-items-center">
																<!--<div class="col-md-4 my-2 my-md-0">
																	<div class="input-icon">
																		<input type="text" class="form-control form-control-solid" placeholder="Search..." id="kt_datatable_search_query" />
																		<span>
																			<i class="flaticon2-search-1 text-muted"></i>
																		</span>
																	</div>
																</div>--->
                                                <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
                                                            <select id="store-selector" class="custom-select custom-select-sm form-control form-control-sm" onchange="selectChangeHandler();">
                                                        <option value="nope" selected="true" disabled="true">filter by Warehouse</option>
                                                        <option value="all"  >All</option>
                                                
                                                        {{#each stores}}
                                                        <option value="{{locid}}">{{name}}</option>
                                                        {{/each}}
                                                    </select>
												</div>

												<div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
															<a data-toggle="modal" href="#myModal" class="btn btn-success font-weight-bold mr-2"><i class="ki ki-plus icon-sm"></i> Add New Warehouse
</a>


														</div>
                                                        <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
													<div class="input-daterange input-group">
														<input type="text" class="form-control datatable-input" id="min" name="min" placeholder="From" data-col-index="5" />
														<div class="input-group-append">
															<span class="input-group-text">
																<i class="la la-ellipsis-h"></i>
															</span>
														</div>
														<input type="text" class="form-control datatable-input" id="max" name="max" placeholder="To" data-col-index="5" />
													</div>
												</div>

															</div>
														</div>
												
														
													</div>
												</div>
												<!--end::Search Form-->
<table id="table-products" class="table table-separate table-head-custom table-checkable">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Product Name</th>
                                <th>Barcode</th>
                                <th>Brand</th>
                              
                                <th>Total Quanitiy</th>
                                <th>Stock</th>
                                {{!-- <th class="text-center" role="col">Quanitiy Shipped</th>
                                 <th class="text-center" role="col">Quanitiy Availiable</th> --}}
                                <th>Price</th>
                                <th>Location</th>
                                  <th>Expiry</th>
                                <th>Visible</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>{{ inc @index }}</td>
                                <td>{{ displayName }}</td>
                                <td>{{ barcode }}</td>
                                <td>{{ brand }}</td>
                              
                                 
                                  {{#compare1 qtyavailiable}}
                                <td>0</td>

                                 {{else}}

                             <td>{{ qtyavailiable }}</td>


                                 {{/compare1}}
                                 {{#compare qtyavailiable}}
                                 <td><span style="color: red;">Out of Stock</span></td>

                                 {{else}}

                                 <td><span style="color: green;">In Stock</span></td>


                                 {{/compare}}
                                  
                                
                                <td>{{ discountPrice }}</td>
                                {{!-- {{#if (eq box_id "e0512496BANR")}} {{/if}} --}}
                                {{#box_id}}
                                {{#if ( includes "e0512496BAN" )}} 
                                 <td>Bandra</td>
                                 {{else}}
                                  <td>Powai</td>
                                 {{/if}}
                                {{/box_id}}
                                   <td>{{ datecon expiry }}</td>
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch-{{barcode}}{{box_id}}" {{#if visible}}checked{{/if}} onclick="updateVisibility('{{barcode}}','{{box_id}}')">
                                        <label class="custom-control-label" for="customSwitch-{{barcode}}{{box_id}}"></label>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-primary" onclick="editProduct('{{barcode}}','{{box_id}}')">Edit</button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
										<!--end: Datatable-->
									</div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->

				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
   

    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add New Warehouse</h4>
        </div>
        <div class="modal-body">
           <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="locname"> Name</label>
                        <input type="text" id="locname" class="form-control" >
                    </div>
                    <div class="col-md-6">
                        <label for="locaddress">Address</label>
                        <input type="text" id="locaddress" class="form-control">
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <label for="locphone"> Phone</label>
                        <input type="number" id="locphone" class="form-control" >
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" id="addwarehouse" >Add</button>
        </div>
      </div>
      
    </div>
  </div>
  
<div class="modal fade" id="productEdit" tabindex="-1" role="dialog" aria-labelledby="productEditTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit <span id="modal-ptitle"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="product-name-modal">Product Name</label>
                        <input type="text" id="product-name-modal" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="product-dname-modal">Product Display Name</label>
                        <input type="text" id="product-dname-modal" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="product-brand-modal">Brand Name</label>
                        <input type="text" id="product-brand-modal" class="form-control" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="product-company-modal">Company Name</label>
                        <input type="text" id="product-company-modal" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="product-price-modal">Price</label>
                        <input type="number" id="product-price-modal" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="product-dprice-modal">Display Price</label>
                        <input type="number" id="product-dprice-modal" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="product-barcode-modal">Barcode</label>
                        <input type="text" id="product-barcode-modal" class="form-contorl" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="product-sale-count-modal">Sale Count</label>
                        <input type="number" id="product-sale-count-modal" class="form-control">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark" onclick="processChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
function editProduct(payload, storeid) {
    let params = new URLSearchParams(location.search);
     
     var storeId = storeid;

    localStorage.setItem('whlocation',storeId);
    localStorage.setItem('barcode',payload);
   window.open('/inventory/', '_blank');
    //location.href='/inventory/';
   // alert(storeId);
    /*$.ajax({
        method: 'GET',
        url: `/api/catalogue?barcode=${payload}&storeId=${storeId}`,
        success: (data) => {
            document.getElementById('modal-ptitle').innerText = data.name;
            document.getElementById("product-name-modal").value = data.name;
            document.getElementById("product-dname-modal").value = data.displayName;
            document.getElementById("product-brand-modal").value = data.brand;
            document.getElementById("product-company-modal").value = data.company;
            document.getElementById("product-price-modal").value = data.price;
            document.getElementById("product-dprice-modal").value = data.discountPrice;
            document.getElementById("product-barcode-modal").value = data.barcode;
            document.getElementById("product-sale-count-modal").value = data.count;
            $('#productEdit').modal('show');
        }, 
        error: (err) => {
            console.log(err);
        }
    })
    */
}
function processChanges() {
    let displayName = document.getElementById("product-dname-modal").value;
    let price = document.getElementById("product-price-modal").value;
    let discountPrice = document.getElementById("product-dprice-modal").value;
    let productBarcode = document.getElementById("product-barcode-modal").value;
    let productSaleCount = document.getElementById("product-sale-count-modal").value;
    let params = new URLSearchParams(location.search);
    const storeId = params.get('storeId');
    const payload = {
        displayName: displayName, 
        discountPrice: discountPrice, 
        saleCount: productSaleCount, 
        barcode: productBarcode, 
        price: price,
        storeId: storeId,
    }
    $.ajax({
        method: 'POST',
        url: '/api/catalogue',
        data: payload,
        success: (data) => {
            toastr.success(`${displayName} updated`, 'Updated');
            $('#productEdit').modal('hide');
        },
        error: (err) => {
            toastr.error(err, 'Error');
        }
    });
}
function updateVisibility(barcode,storeid) {
    let params = new URLSearchParams(location.search);
    //const storeId = params.get('storeId');
       const storeId = storeid;
    if (!storeId) {
        toastr.error('No storeId', 'Error')
        return;
    }
    let toggle = document.getElementById(`customSwitch-${barcode}${storeid}`);
    const visible = toggle.checked ? 1 : 0;
    $.ajax({
        method: 'GET',
        url: `/api/visible?storeId=${storeId}&barcode=${barcode}&visible=${visible}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
                toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        } 
    });
}
function appendToQueryString(key, value) {
    let params = new URLSearchParams(location.search);
    params.set(key, value);
    const qs = params.toString();
    if(value =='all'){
   window.location.href = `/product/allproducts`;
    }else{
    window.location.href = `/product?${qs}`;
    }
}
function selectChangeHandler() {
    let selectElement = document.getElementById('store-selector');
    let storeId = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('storeId', storeId);
}

function updateStoreSelect() {
    let selectElement = document.getElementById('store-selector');
    let options = selectElement.getElementsByTagName('option');
    let params = new URLSearchParams(location.search);
    const storeId = params.get('storeId');
    if (storeId === null) {
        options[0].selected = true;
    } else {
        for(let i = 0; i < options.length; i++) {
            if (options[i].value == storeId) {
                options[i].selected = true;
                break;
            }
        }
    }
}


$("#addwarehouse").click(function(){

   var name = $("#locname").val();
   var address = $("#locaddress").val();
   var phone = $("#locphone").val();



    $.ajax
    ({ 
        url: `https://ekastaplatform.com/insertwh.php?name=${name}&address=${address}&phone=${phone}`,
        type: 'get',
        success: function(result)
        {
           
           alert("Addded Succesfully");

           location.reload();
        }
    });
});


$(document).ready(function() {
    updateStoreSelect();
     minDate = new DateTime($('#min'), {
        format: 'YYYY-MM-DD'
    });
    maxDate = new DateTime($('#max'), {
        format: 'YYYY-MM-DD'
    });
 
    // DataTables initialisation
    var table = $('#table-products').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
 
    // Refilter the table
    $('#min, #max').on('change', function () {
        table.draw();
    });
});
var minDate, maxDate;
 
// Custom filtering function which will search data in column four between two values
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = minDate.val();
        var max = maxDate.val();
        var date = new Date( data[8] );
 
        if (
            ( min === null && max === null ) ||
            ( min === null && date <= max ) ||
            ( min <= date   && max === null ) ||
            ( min <= date   && date <= max )
        ) {
            return true;
        }
        return false;
    }
);
</script>
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
	</body>
	<!--end::Body-->
</html>





