
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<title>Order Dashboard</title>
		<meta name="description" content="List option - 1 example" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="canonical" href="https://keenthemes.com/metronic" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
<style>
 @keyframes blinking {
        0% {
          background-color: #ECFDF5;
        }
        100% {
          background-color: #f07565;
        }
      }
      #blink {
      padding: 6px;
        animation: blinking 1s infinite;
      }

	</style>
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
						
							<div class="content flex-column-fluid" id="kt_content">
								<!--begin::Row-->
								<div class="row">
									<!--begin::Col-->

									 {{#each orderpack}}
									<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" id="{{ ./this.orderId }}">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body pt-4">
											
												<!--begin::Info-->
												<div class="mb-7">
														{{#gt (datedifference ./this.createdAt) 2}}
			<div id="blink">
{{else}}
  <div>

{{/gt}}
 

													 <div class="d-flex justify-content-between align-items-center py-3">
														<span class="text-dark-75 font-weight-bolder mr-2">{{ ./this.orderId }}</span>
                                                        <span class="text-dark-75 font-weight-bolder">{{datedifference ./this.ordercreationdate}} Min</span>
													</div>
														</div>
                                                     {{!-- <table class="table">
                        <thead>
                            <tr>
                                <th>{{ ./this.order_id }}</th>
                                <th>{{datedifference ./this.createdAt}} Min</th>
                            </tr>
                        </thead>
                        
                    </table> --}}
					<!--begin::Text-->     

												<p class="mb-7 mt-3 text-muted h-100">{{./this.address}}</p>
                                             
												<!--end::Text-->
												</div>
												<!--end::Info-->
											{{!-- <div class="mr-12 d-flex flex-column mb-7">
														
														<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Intransit</span>
													</div> --}}

												{{!-- <a href="#" class="btn btn-block btn-sm btn-light-success font-weight-bolder text-uppercase py-4">write message</a> --}}
											</div>
											<!--end::Body-->
											<div class="card-footer">
																											 <div class="mr-12 d-flex flex-column mb-7">
														    {{#status}}

                                 {{#if ( includes "Disp" )}} 

                                 	<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Dispatch</span>
                                
                                {{else if ( includes "DISP" )}} 
                                	<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Dispatch</span>
								 {{else if ( includes "REC" )}} 
                                	<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Delivered</span>
                              
                                 {{else if ( includes "DEL" )}} 
                                <span class="btn btn-light-success btn-sm font-weight-bold btn-upper btn-text">Delivered</span>
                              
                                {{else if ( includes "CAN" )}} 
                               <span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Delivered</span>
                                 {{else}}
                                 <tr>
                                 {{/if}}
                                 
                                {{/status}}

														
														
													</div> 
													<div class="mr-12 d-flex flex-column mb-2">
														
														<span class="font-weight-bolder mr-2" style="color:#9CA3AF;">Rider: {{./this.driverName}}</span>
													</div>

													
{{#ifequals ./this.status  "Dispatched" }} 
													<div class="mr-12 d-flex flex-column mb-2">
														
														<span class="font-weight-bolder mr-2" style="color:#9CA3AF;">Status: PACKED</span>
													</div>
						 {{/ifequals}}						
													

													 {{#ifequals ./this.status  "DELIVERED" }} 

													 <span class="text-muted">Delivered at : {{  localtime ./this.updatedAt}}  </span>
													 <span class="text-muted">Total Delivery Time {{datedifference1 ./this.ordercreationdate ./this.updatedAt }}</span>
													  {{/ifequals}}
													
													  
													</div>
											  
										</div>
										<!--end:: Card-->
									</div>
									{{/each}}
									<!--end::Col-->
                                    <!--begin::Col-->
							
									<!--end::Col-->
									<!--begin::Col-->
								
									<!--end::Col-->
									<!--begin::Col-->
							
									<!--end::Col-->
								</div>
								<!--end::Row-->
								<!--begin::Row-->


									<div class="row">
									<!--begin::Col-->

									 {{#each orderdelivered}}
									<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6" id="{{ ./this.orderId }}">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body pt-4">
											
												<!--begin::Info-->
												<div class="mb-7">
													 <div class="d-flex justify-content-between align-items-center border-bottom py-3 mb-3">
														<span class="text-dark-75 font-weight-bolder mr-2">{{ ./this.orderId }}</span>
                                                        <span class="text-muted">{{datedifference ./this.ordercreationdate}} Min</span>
													</div>
													
                                                     {{!-- <table class="table">
                        <thead>
                            <tr>
                                <th>{{ ./this.order_id }}</th>
                                <th>{{datedifference ./this.createdAt}} Min</th>
                            </tr>
                        </thead>
                        
                    </table> --}}
					<!--begin::Text-->     

												<p class="mb-7 mt-3 text-muted h-100">{{./this.address}}</p>
                                             
												<!--end::Text-->
												</div>
												<!--end::Info-->
											{{!-- <div class="mr-12 d-flex flex-column mb-7">
														
														<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Intransit</span>
													</div> --}}

												{{!-- <a href="#" class="btn btn-block btn-sm btn-light-success font-weight-bolder text-uppercase py-4">write message</a> --}}
											</div>
											<!--end::Body-->
											<div class="card-footer">
																											 <div class="mr-12 d-flex flex-column mb-7">
														    {{#status}}

                                 {{#if ( includes "Disp" )}} 

                                 	<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Dispatched</span>
                                
                                {{else if ( includes "DISP" )}} 
                                	<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Dispatched</span>
								 {{else if ( includes "REC" )}} 
                                	<span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Delivered</span>
                              
                                 {{else if ( includes "DEL" )}} 
                                <span class="btn btn-light-success btn-sm font-weight-bold btn-upper btn-text">Delivered</span>
                              
                                {{else if ( includes "CAN" )}} 
                               <span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">Delivered</span>
                                 {{else}}
                                 <tr>
                                 {{/if}}
                                 
                                {{/status}}

														
														
													</div> 
													<div class="mr-12 d-flex flex-column mb-2">
														
														<span class="font-weight-bolder mr-2" style="color:#9CA3AF;">Rider: {{./this.driverName}}</span>
													</div>
												
													

																					 {{#ifequals ./this.status  "DELIVERED" }} 

													 <span class="text-muted">Delivered at : {{  localtime ./this.updatedAt}}  </span> <br>
													 <span class="text-muted">Total Delivery Time -  {{datedifference1 ./this.updatedAt ./this.ordercreationdate  }} Minutes</span>
													  {{/ifequals}}
													
													  
													</div>
											  
										</div>
										<!--end:: Card-->
									</div>
									{{/each}}
									<!--end::Col-->
                                    <!--begin::Col-->
							
									<!--end::Col-->
									<!--begin::Col-->
								
									<!--end::Col-->
									<!--begin::Col-->
							
									<!--end::Col-->
								</div>
							
								<!--end::Row-->
								<!--begin::Pagination-->
							
								<!--end::Pagination-->
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->
					
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		
		
		
	
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>



		<script>

		function updateOrder(orderId,storeId) {
    let status = 'DISPATCHED';
     
    if(storeId == "239"){

        storeId = "e0512496BANR";
    }else{
        storeId = "e0512496NSKI";
    }

    $.ajax({
        method: 'GET',
        url: `/api/status?orderId=${orderId}&status=${status}&location=${storeId}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
				var divtohide = "#"+orderId;
				$(divtohide).hide("slow");
				
               // toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
}

			function hide(orderid,storeId){


			
//alert('storeId -'+storeId);
			updateOrder(orderid,storeId);

				
			}


			setInterval(function(){ 
location.reload();

 }, 10000);
		</script>
		<!--end::Global Theme Bundle-->
	</body>
	<!--end::Body-->
</html> 
 
 
 
 