

<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		
	</head>
	
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
	<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
							
							<div class="content flex-column-fluid" id="kt_content">
								
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Drivers</h3>
										</div>
										
									</div>
									<div class="card-body">
<!--begin::Search Form-->
												<div class="mb-10">
													<div class="row align-items-center">
														<div class="col-lg-12 col-xl-12">
															<div class="row align-items-center">
															<div class="col-lg-9 col-xl-8">
															<div class="row align-items-center">
															
                                                <div class="col-md-4 my-2 my-md-0">
																	<select id="store-selector" class="form-control form-control-solid"  onchange="selectChangeHandler();">
                                                      <option value="">Select Store</option>
                                                      <option value="175">QuikAf Powai</option>
                                                      <option value="239">QuikAf Bandra</option>
																	</select>
																</div>
                                  
																
															</div>
														</div>

															</div>
														</div>
														
														
													</div>
												</div>
                        <!--begin::Row-->
                      <div class="mb-10">  
								<div class="row">
								<!--begin::Col-->
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body pt-8">
												<!--begin::Info-->
												
													<div class="d-flex justify-content-between align-items-center">
														<h2 class="text-dark-75 font-weight-bolder mr-2">Total Available Drivers : {{count}}</h2>
														
													</div>
													
												
												<!--end::Info-->
											
											</div>
											<!--end::Body-->
										</div>
										<!--end:: Card-->
									</div>
									<!--end::Col-->
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body pt-8">
												<!--begin::Info-->
												
													<div class="d-flex justify-content-between align-items-center">
														<h2 class="text-dark-75 font-weight-bolder mr-2">Total Pending Orders : {{queuecount}}</h2>
														
													</div>
													
												<!--end::Info-->
											
											</div>
											<!--end::Body-->
										</div>
										<!--end:: Card-->
									</div>
										<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body pt-8">
												<!--begin::Info-->
												
													<div class="d-flex justify-content-between align-items-center">
														<a href="drivers/assigndriver?storeid=175"> <button class="btn btn-success btn-lg btn-block">Auto Assign Pending Orders  </button></a>
													</div>										
												<!--end::Info-->
											
											</div>
											<!--end::Body-->
										</div>
										<!--end:: Card-->
									</div>
								</div>
                </div>
								<!--end::Row-->
                
             
												<!--end::Search Form-->
                   <table id="table-order" class="table table-borderd table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Ware House</th>
                                <th>availiable</th>
                                <th>Status</th>
                                <th>Last @</th>
                                <th>Check In</th>
                                <th>Check Out</th>
                                

                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each drivers}}

                            
                              
                                <td>{{ inc @index }}</td>
                                <td><a href="">{{ ./this.drivername }}</a></td>
                                <input type="hidden" value="{{./this.drivername}}" id="driver_name{{./this.id}}">
                                <input type="hidden" value="{{./this.phone_no}}" id="driver_phone{{./this.id}}">
                                <td>{{ ./this.phone_no }}</td>
                                {{#storeid}}
                                {{#if ( includes "23" ) }}
                                <td>
                    <select  class="custom-select custom-select-sm form-control form-control-sm"  id="selector_store{{../this.id}}">
               
                <option value="175">QuikAf Powai</option>
                 <option value="239" selected>QuikAf Bandra</option>
              
            </select>
                                </td>
                                {{else}}
                                  <td>
                    <select  class="custom-select custom-select-sm form-control form-control-sm" id="selector_store{{../this.id}}" >
               
                <option value="175" selected >QuikAf Powai</option>
                 <option value="239">QuikAf Bandra</option>
              
            </select>
                                  </td>
                                {{/if}}

                                {{/storeid}}
                              
                         
                                  <td>{{ ./this.availiable }}</td>
                                  {{#if ./this.check_in }}
                                   <td>ONLINE</td>
                                   <input type="hidden" value="{{./this.check_in}}" id="driver_status{{./this.id}}">
                                   {{else}}
                                   <td>OFFLINE</td>
                                   <input type="hidden" value="{{./this.check_in}}" id="driver_status{{./this.id}}">
                                   {{/if}}

                                <td id="last_in{{./this.id}}">{{./this.last_check_in}}</td>
                                {{#if ./this.check_in }}
                                      <td class="text-center"><button class="btn btn-primary" onclick="updateDriverStatus({{./this.id}})" disabled> Check In</button>   </td>
                                <td> <button class="btn btn-primary" onclick="updateDriverStatus({{./this.id}})" >Check Out</button> </td>
                                   {{else}}
                                      <td class="text-center"><button class="btn btn-primary" onclick="updateDriverStatus({{./this.id}})" > Check In</button>   </td>
                                <td> <button class="btn btn-primary" onclick="updateDriverStatus({{./this.id}})" disabled> Check Out</button> </td>
                                   {{/if}}
                             
                           
                               
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
										<!--end: Datatable-->
									</div>
								</div>
								<!--end::Card-->
                                <div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Availiable Orders For Processing</h3>
										</div>
										
									</div>
									<div class="card-body">
<!--begin::Search Form-->
                      
                
             
												<!--end::Search Form-->
                  <table id="table-order" class="table table-borderd table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>OrderId</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Category</th>
                                <th>Rank</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each queue}}

                            
                              
                                <td>{{ inc @index }}</td>
                                <td><a href="">{{ ./this.orderId }}</a></td>
                                <td>{{ ./this.address }}</td>
                                <td>{{ ./this.phone }}</td>
                                  <td>{{ ./this.category }}</td>
                                  <td>{{ ./this.rank }}</td>
                           
                               
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
										<!--end: Datatable-->
									</div>
								</div>
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->

				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->



<script>


    function updateDriverStatus(id){

       var storeid = $('#selector_store'+id).val();
       var status = $('#driver_status'+id).val();
       var driver_name = $('#driver_name'+id).val();
       var driver_phone = $('#driver_phone'+id).val();
       var last_in = $('#last_in'+id).html();
       var sameDateAlertFlag = 0;
      
    
       if(status == true || status == 'true'){
           status = 1;
       }else{
           status = 0;
            if(last_in.length > 10){
     var nowdate =  new Date(Date.now());
       nowdate = nowdate.toString();
       nowdate = nowdate.substring(1, 16)
       var n = last_in.includes(nowdate);
       if(n){
   // sameDateAlertFlag = 1;   //just add this two lines fro same day retriction
    //toastr.error('Can not Checkin same day', 'Error');
       }
       }
       }
    status = status != 1 ? true : false;
if( sameDateAlertFlag < 1){
         $.ajax({
        method: 'POST',
        url: '/drivers/updateDriverStatus',
        data: {id:id, storeid:storeid,status:status,driver_name:driver_name,driver_phone:driver_phone},
        success: (data) => {
            if (data.status === 0) {
                toastr.error(data.message, 'Error');
            } else if (data.status === 1) {
                toastr.success(data.message, 'Updated')
                setTimeout(function(){
                location.reload();
                }, 3000)
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
    }

    }
function appendToQueryString(key, value) {
    let params = new URLSearchParams(location.search);
    params.set(key, value);
    const qs = params.toString();
    window.location.href = `/drivers?${qs}`;
}
function selectChangeHandler() {
    let selectElement = document.getElementById('store-selector');
    let storeId = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('storeId', storeId);
}
function handleStatusChange() {
    let selectElement = document.getElementById('status-select');
    let status = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('status', status)
}




function handlePaidStatusChange() {
    let selectElement = document.getElementById('paid-status-select');
    let status = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('paid', status)
}

$(document).ready(function() {
    $('#table-order').DataTable({
        responsive: true,
        scrollX: true,
    });
    let qs = new URLSearchParams(location.search);
    const storeFilter = qs.get('storeId');
    const orderStatus = qs.get('status');
    const paidStatus = qs.get('paid'); 
    if (storeFilter) {
        $('#store-selector').val(storeFilter);
    }
    if (orderStatus) {
        $('#status-select').val(orderStatus)
    }
    if (paidStatus) {
        $('#paid-status-select').val(paidStatus);
    }
});
function createToast() {
    $(document).Toasts('create', {
        class: 'bg-maroon',
        title: 'Updated',
        autohide: true,
        delay: 1000,
        body: 'Data Updated'
    });
}
function updateOrder(orderId) {
    let statusElement = document.getElementById(`status-${orderId}`);
    let status = statusElement.options[statusElement.selectedIndex].value;
     let selectElement = document.getElementById('store-selector');
    let storeId = selectElement.options[selectElement.selectedIndex].value;

   

    if(storeId == "239"){

        storeId = "e0512496BANR";
    }else{
        storeId = "e0512496NSKI";
    }

    // alert(storeId);

    let packingElement = document.getElementById(`packing-${orderId}`);
    let personname = packingElement.options[packingElement.selectedIndex].value;
    let paid = document.getElementById(`paid-${orderId}`).checked ? 1 : 0;
    $.ajax({
        method: 'GET',
        url: `/api/status?orderId=${orderId}&status=${status}&paid=${paid}&personname=${personname}&location=${storeId}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
                toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
}
</script>

		
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<!--<script src="/metrojs/pages/crud/datatables/basic/scrollable.js"></script>-->
        <script src="/metrojs/pages/crud/datatables/basic/basic.js"></script>
		<!--end::Page Scripts-->
  
	</body>
	<!--end::Body-->
</html>






