
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<title>Advanced Search Examples | Keenthemes</title>
		<meta name="description" content="Advanced search datatables examples" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="canonical" href="https://keenthemes.com/metronic" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
							
							<div class="content flex-column-fluid" id="kt_content">
								
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Generate</h3>
										</div>
									
									</div>
									<div class="card-body">
										<!--begin: Search Form-->
										<form class="mb-15">
											<div class="row mb-6">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Coupon</label>
													<input type="text" class="form-control" placeholder="Enter Coupon" id="coupon" value="" >
                    								<input type="hidden" class="form-control" placeholder="Enter Coupon" id="couponid" value="" >
                    
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
												<label>coupon type</label>
												<select class="custom-select form-control form-control-sm" id="coupon-type">
													<option selected="true" disabled="true">--select--</option>
														<option value="flat">Flat</option>
													<option value="fixed">Fixed</option>
							{{!-- 
													{{#each type}}
														<option value="{{ this.c_type }}">{{ this.c_type }}</option>
													{{/each }} --}}
												</select>
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label id="valueC">Value</label>
													<input type="text" class="form-control"   id="coupon-value" placeholder="Enter Value">
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
												<label>Minimum Order</label>
												<input type="number" class="form-control"   id="minimumorder" placeholder="Enter mimimum">
												</div>
											</div>
											
											<div class="row mb-8">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Status</label>
													<select class="custom-select form-control form-control-sm" id="status" name="status" >
													{{!-- <option selected="true" disabled="true">--select--</option> --}}
													
													<option value="true"> true</option>
													<option value="false"> false</option>
													</select>
												</div>
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Expiry(yyyy-MM-DD)</label>
													{{!-- <input type="text" class="form-control" value=""  id="expiry" placeholder="Enter Expiry"> --}}
													<input type="date" class="form-control datatable-input" id="expiry" name="expiry">
												</div>

											</div>
										<div class="row float-sm-right">                   
											<div class="col-sm-4">
												<button type="submit" class="btn btn-success" id="submit-btn" > Submit/Add</button>
											</div>
										</div>
										</form>

										
										
									</div>
								</div>
								<!--end::Card-->

								


							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->
				
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
	
	
<script>
const barcodeElement = document.getElementById('product-barcode');
const btnElement = document.getElementById('submit-btn');
var dataUp = 0;
var whlocation ='';
var lclstwhlocation = localStorage.getItem('couponid');
var lclstBarcode = localStorage.getItem('c_type');
if(!!lclstwhlocation){
	
}

function populateData(id){
    if(id){
$.ajax({
		method: 'GET',
		url: '/coupon/getCoupon?id='+id,
		
		success: (data) => {
			console.log('data',data)
			if(data.status == 1){
               
				dataUp = 1;
				$('#submit-btn').html('UPDATE');
				dataRes = data.data;
				localStorage.setItem('couponData',JSON.stringify(dataRes));
			
		$('#coupon').val(dataRes.name);
        $('#couponid').val(dataRes.id);
		
		$('#minimumorder').val(dataRes.mov);
        if(dataRes.c_type =='flat'){
        dataRes.value = dataRes.value * 100;
        $('#valueC').html('Value[Flat %]');
        }else{
            $('#valueC').html('Value[Fixed Rs]');
        }
        $('#coupon-value').val(dataRes.value);
		$('#coupon-type').val(dataRes.c_type);
       var  status = dataRes.status.toString()
		$('#status').val(status);
		//var mydate = new Date('2014-04-03');
//console.log(mydate.toDateString());

document.getElementById("expiry").value = dataRes.expiry;

    
		}
		if(data.status == 0){
			
			alert('Please fill below fields properly');
           $('#submit-btn').html(' ADD NEW');
		  // location.reload();
		   

		}
		},
		error: (err) => {
			toastr.error('No Product found', 'Error');
		}
	});
    }
    
}

 let params = new URLSearchParams(location.search);
    const id = params.get('id');
    populateData(id);
function getSelectedValue(id) {
	let element = document.getElementById(id);
	const value = element.options[element.selectedIndex].value;
	return value;
}

$('#coupon-type').change(function() {
    c_type = document.getElementById('coupon-type').value; 
 if(c_type =='flat'){
        dataRes.value = dataRes.value * 100;
        $('#valueC').html('Value[Flat %]');
        }else{
            $('#valueC').html('Value[Fixed Rs]');
        }
});

btnElement.addEventListener('click', function(event) {
	event.preventDefault();
     var barcodeData = JSON.parse(localStorage.getItem('couponData')); 

	var name = $('#coupon').val();
	var id = $('#couponid').val();
	var mov = $('#minimumorder').val();
	var value =  $('#coupon-value').val();
	var c_type =	$('#coupon-type').val();
	var expiry = $('#expiry').val();
	var status = $('#status').val();

     var m_newInsertFlag = 0;
	 var newInsertFlag = 0;
	 var onlyUpdateFlage = 0;
	 
	 var validationFlag = 0;
	 var finalMinusCheck = 0;
	
	 
	if(!!name && !!value && !!status && !!c_type && !!expiry ){
      validationFlag = 1
	 onlyUpdateFlage = 1;
	}else{
	  validationFlag = 0;
	  alert('Please check if each field is selected and filled');
	}


	//validationFlag = 0;


	if( dataUp > 0){
	
	 if(barcodeData.name != name && barcodeData.c_type != c_type && barcodeData.value != value && barcodeData.status != status) {
	 var newInsertFlag = 1;
	 onlyUpdateFlage = 0;
	 }
	if(barcodeData.name != name){
		m_newInsertFlag =1;
		validationFlag = 0;
		alert('Coupon name can not be chnaged')

		onlyUpdateFlage = 0;
	}
	
	if(barcodeData.c_type != c_type){
		m_newInsertFlag =1;
		validationFlag = 0;
		alert('Coupon Type can not be changd')
		onlyUpdateFlage = 0;
	}
	
	}else{
		newInsertFlag = 1;
		onlyUpdateFlage = 0;
	}
	var insertData = {};
	var updateData = {};
  updateData.mov =	insertData.mov = mov;
  updateData.value =	insertData.value = value;
  if(c_type =='flat'){
      
updateData.value =	insertData.value = parseInt(value)/100;
  }
  
  updateData.c_type =	insertData.c_type = c_type;
  
  updateData.status =	insertData.status = status;
  updateData.expiry =	insertData.expiry = expiry;
  updateData.name =	insertData.name = name;

if(validationFlag > 0 && onlyUpdateFlage > 0){
		
	$.ajax({
		method: 'POST',
		url: '/coupon/coupon-update',
		data: {
			id:id,			
			updateData: updateData,
		
		},
		success: (data) => {
			if(data.status ==1)
			toastr.success(`barcode ${name}`, 'updated');
			if(data.status ==0)
			toastr.error(`barcode ${barcode}`, 'Failed');
			setTimeout(function(){ 
				location.href='/coupon/';
			 }, 1000);
			
		},
		error: (err) => {
			toastr.error('unable to add product', 'Error');
		}
	});
	}
if(validationFlag > 0 ){

if(m_newInsertFlag > 0 || newInsertFlag > 0){
console.log('m_newInsertFlag'+m_newInsertFlag+'-----'+'newInsertFlag'+newInsertFlag);
	alert('Going to add - Refresh if you dont want');
	$.ajax({
		method: 'POST',
		url: '/coupon/coupon-add',
		data: {
			name:name,
			insertData: insertData,			
		},
		success: (data) => {
			if(data.status == 1)
			toastr.success(`barcode ${name}`, 'Created');
			if(data.status == 0)
			toastr.error(`barcode ${name} - ${data.data}`, 'Failed');
				setTimeout(function(){ 
				location.href='/coupon/';
			 }, 1000);

		},
		error: (err) => {
			toastr.error('unable to add product', 'Error');
		}
	});
}
}
});
if(!!lclstwhlocation){

	localStorage.removeItem('c_type');
	localStorage.removeItem('couponid');

	$('#location').trigger('change');
}

</script>

		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Page Vendors-->
		
	</body>
	<!--end::Body-->
</html>



