
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		
	</head>
	
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
	<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
							
							<div class="content flex-column-fluid" id="kt_content">
								
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Inventory Occupancy Brand</h3>
										</div>
										
									</div>
									<div class="card-body">
<!--begin::Search Form-->
												<div class="mb-10">
													<div class="row align-items-center">
														<div class="col-lg-12 col-xl-12">
															<div class="row align-items-center">
															<div class="col-lg-9 col-xl-8">
															<div class="row align-items-center">
															
                                                <div class="col-md-4 my-2 my-md-0">
																	<select id="store-selector" class="form-control form-control-solid"  onchange="selectChangeHandler();">
                                                      <option value="All">Select Location</option>
                                                      <option value="175">QuikAf Powai</option>
                                                      <option value="239">QuikAf Bandra</option>
																	</select>
																</div>
                                  	<div class="col-md-4 my-2 my-md-0">
														<select  id="brand-select" class="form-control form-control-solid" onchange="handleStatusChange();">
                                                      <option value="All" selected="true" disabled="true">Select Brand</option>\
													  {{#each brands }}

                                                       <option value="{{ brand }}">{{ brand }}</option>
													    {{/each }}
                                                
															</select>
																</div>
																
															</div>
														</div>

															</div>
														</div>
														
														
													</div>
												</div>
                        <!--begin::Row-->
                        <div class="mb-10">  
								<div class="row">
								<!--begin::Col-->
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body pt-8">
												<!--begin::Info-->
												
													<div class="d-flex justify-content-between align-items-center">
														<h1 class="text-dark-75 font-weight-bolder mr-2">Refrigerator</h1>
														{{!-- <a href="#" class="text-muted text-hover-primary">3</a> --}}
													</div>
													<div class="d-flex justify-content-between align-items-cente my-1">
														<span class="text-dark-75 font-weight-bolder mr-2">Available Capacity:</span>
														<a href="#" class="text-muted text-hover-primary" style="color: #8950FC !important;">{{refrigeratoravailiablespace}} Cubic Feet</a>
													</div>
													<div class="d-flex justify-content-between align-items-center">
														<span class="text-dark-75 font-weight-bolder mr-2">Occupied:</span>
														<span class="text-muted font-weight-bold" style="color: #8950FC !important;">{{refrigeratoroccupiedspace}} Cubic Feet</span>
													</div>
												
												<!--end::Info-->
											
											</div>
											<!--end::Body-->
										</div>
										<!--end:: Card-->
									</div>
									<!--end::Col-->
									<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											<div class="card-body pt-8">
												<!--begin::Info-->
												
													<div class="d-flex justify-content-between align-items-center">
														<h1 class="text-dark-75 font-weight-bolder mr-2">Freezer</h1>
														{{!-- <a href="#" class="text-muted text-hover-primary">3</a> --}}
													</div>
													<div class="d-flex justify-content-between align-items-cente my-1">
														<span class="text-dark-75 font-weight-bolder mr-2">Available Capacity:</span>
														<a href="#" class="text-muted text-hover-primary" style="color: #8950FC !important;">{{fridgeavailiablespace}} Cubic Feet</a>
													</div>
													<div class="d-flex justify-content-between align-items-center">
														<span class="text-dark-75 font-weight-bolder mr-2">Occupied:</span>
														<span class="text-muted font-weight-bold" style="color: #8950FC !important;">{{fridgeoccupiedspace}} Cubic Feet</span>
													</div>
												
												<!--end::Info-->
											
											</div>
											<!--end::Body-->
										</div>
										<!--end:: Card-->
									</div>
										<div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
										<!--begin::Card-->
										<div class="card card-custom gutter-b card-stretch">
											<!--begin::Body-->
											{{!-- <div class="card-body pt-8">
												
												
													<div class="d-flex justify-content-between align-items-center">
														<h1 class="text-dark-75 font-weight-bolder mr-2">Regular</h1>
														
													</div>
													<div class="d-flex justify-content-between align-items-cente my-1">
														<span class="text-dark-75 font-weight-bolder mr-2">Available Capacity:</span>
														<a href="#" class="text-muted text-hover-primary" style="color: #8950FC !important;">{{regularavailiablespace}} Cubic Feet</a>
													</div>
													<div class="d-flex justify-content-between align-items-center">
														<span class="text-dark-75 font-weight-bolder mr-2">Occupied:</span>
														<span class="text-muted font-weight-bold" style="color: #8950FC !important; ">{{regularoccupiedspace}} Cubic Feet</span>
													</div>
												
											
											
											</div> --}}
											<!--end::Body-->
										</div>
										<!--end:: Card-->
									</div>
								</div>
                </div>
								<!--end::Row-->
                
               <div class="row">
									 <div class="col-lg-12">
                     <table id="table-order" class="table table-separate table-head-custom table-checkable">
                        <thead>
                            <tr>
                                <th>Barcode</th>
                                <th>Name</th>
								<th>Warehouse</th>
								<th>Expiry</th>
								<th>Age</th>
                                <th>Consumed</th>
                                <th>Storage</th>                              
                            </tr>
                        </thead>
                        <tbody>
                           
						     {{#each products}}

							 {{#ifnequals ./this.qtyavailiable}}
							 
                            <tr>
                              
                                <td>{{./this.barcode}}</td>
                              
                                <td>{{./this.name}}</td>
									{{#box_id}}
														{{#if ( includes "BAN" )}} 
													 <td>Q_Af Bandra</td>
                                                   {{else}}
													<td>Q_Af Powai</td>
													{{/if}}

												{{/box_id}}
								
								<td>{{./this.expiry}}</td>
								<td>{{datedifferencedays ./this.updatedAt}} Days</td>
                                <td>{{./storage_consume_unit}} * {{./qtyavailiable}}</td>
                                <td>{{./this.storage_type}}</td>        
                            </tr>
							{{/ifnequals}}
                             {{/each}}
                           
                              
                          
                        </tbody>
                    </table>
                  </div>
									
                 
								</div>
												<!--end::Search Form-->
                    {{!-- <table id="table-order" class="table table-separate table-head-custom table-checkable">
                        <thead>
                            <tr>
                                <th>Barcode</th>
                                <th>Name</th>
                                <th>Capacity</th>
                                <th>Type of Storage</th>                              
                            </tr>
                        </thead>
                        <tbody>
                           
                            <tr>
                              
                                <td>2545464736355</td>
                              
                                <td>Atta Maggie</td>
                                <td>456</td>
                                <td>Freezer</td>        
                            </tr>
                           
                        </tbody>
                    </table> --}}
										<!--end: Datatable-->
									</div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->

				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->

<script>



	function appendToQueryString(key, value) {
    let params = new URLSearchParams(location.search);
    params.set(key, value);
	var brand = params.get('brand');
	
    const qs = params.toString();

	var cUrl = window.location.href;
	if(brand){
		  window.location.href = cUrl+qs;
	}
    if(value =='All'){
   window.location.href = `/inventory/inventory-occupancy-brand`;
    }else{
    window.location.href = `/inventory/inventory-occupancy-brand?${qs}`;
    }
}

let paramss = new URLSearchParams(location.search);
	var brandy = paramss.get('brand');
	if(brandy){
			let selectElement1 = document.getElementById('brand-select');
         selectElement1.value = brandy;
	}
function appendToQueryStringmore(key, value) {
    let params = new URLSearchParams(location.search);
    params.set(key, value);
    const qs = params.toString();
	var storeId = params.get('storeId');

	var cUrl = window.location.href;
	if(storeId){
     window.location.href = cUrl+qs;
	}
    if(value =='all'){
   window.location.href = `/inventory/inventory-occupancy-brand`;
    }else{
    window.location.href = `/inventory/inventory-occupancy-brand?${qs}`;
    }
}
function selectChangeHandler() {
    let selectElement = document.getElementById('store-selector');
    let storeId = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('storeId', storeId);
}

function handleStatusChange(){

	let selectElement1 = document.getElementById('brand-select');
	
	let brand = selectElement1.value;
  
    appendToQueryStringmore('brand', brand);
}


function sendGreet(opt_in_id,mobile1){

    console.log('opt',opt_in_id);
    console.log('mobile',mobile1);
      $.ajax({
        method: 'POST',
        url: '/promoOpt/sendGreet',
        data:{'mobile': mobile1,'opt_in_id':opt_in_id},
        success: (data) => {
            console.log(data);
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 1) {
                
                $('#'+opt_in_id).html('Greeted');
                console.log('opt_in_id',opt_in_id)
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
    

}
function downloadPromotion(){
    var check = false;
var endDate = $('#endDate').val();
var startDate = $('#startDate').val();
if(!!startDate && !!endDate){
    check = true;
    var endDateArr = endDate.split('T');
    var startDateArr = startDate.split('T');
    var fromDate = startDateArr[0];
    var fromTime = startDateArr[1];
    var toDate = endDateArr[0];
    var toTime = endDateArr[1];
}else{
   check= false
}
if(check){

    window.open(
  '/promoOpt/download?fromTime='+fromTime+'&fromDate='+fromDate+'&toDate='+toDate+'&toTime='+toTime,
  '_blank' // <- This is what makes it open in a new window.
);
  
}else{
    alert('please select both the date');
}

}
var dataFormat ='2021-01-29 13:53:56.552+05:30';
$(document).ready(function() {
    $('#table-order').DataTable({
        responsive: true,
        scrollX: true,
    });
    let qs = new URLSearchParams(location.search);
    const storeFilter = qs.get('storeId');
    const orderStatus = qs.get('status');
    const paidStatus = qs.get('paid'); 
    if (storeFilter) {
        $('#store-selector').val(storeFilter);
    }
    if (orderStatus) {
        $('#status-select').val(orderStatus)
    }
    if (paidStatus) {
        $('#paid-status-select').val(paidStatus);
    }
});
function createToast() {
    $(document).Toasts('create', {
        class: 'bg-maroon',
        title: 'Updated',
        autohide: true,
        delay: 1000,
        body: 'Data Updated'
    });
}
function updateOrder(orderId) {
    let statusElement = document.getElementById(`status-${orderId}`);
    let status = statusElement.options[statusElement.selectedIndex].value;
    let paid = document.getElementById(`paid-${orderId}`).checked ? 1 : 0;
    $.ajax({
        method: 'GET',
        url: `/api/status?orderId=${orderId}&status=${status}&paid=${paid}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
                toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
}
</script>

		
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<!--<script src="/metrojs/pages/crud/datatables/basic/scrollable.js"></script>-->
        <script src="/metrojs/pages/crud/datatables/basic/basic.js"></script>
		<!--end::Page Scripts-->
    <script src="/metrojs/pages/features/charts/apexcharts.js"></script>
	</body>
	<!--end::Body-->
</html>










