<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="invoice p-3 md-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <img src="/images/apple-touch-icon.png" alt="" class="fluid">
                                Near.Store
                                <small class="float-right">{{ order.createdAt }}</small>
                            </h4>
                        </div>
                    </div>
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            Customer
                            <address>
                                <strong>Name</strong>: {{order.user.name}} <br>
                                <strong>Phone</strong>: {{order.user.phone}} <br>
                                {{order.user.uaddress}}
                            </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            Store
                            <address>
                                <strong>name</strong>: {{order.store.name}} <br>
                                <strong>storeID</strong>: {{order.store.store_id}}
                            </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            {{!-- Order Info --}}
                            <strong>Order Id: </strong> {{order.order_id}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sr No</th>
                                        <th class="text-center">Product</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">MRP</th>
                                        <th class="text-center">PreTaxValue</th>
                                        <th class="text-center">HSN</th>
                                        <th class="text-center">Tax_INC_CESS</th>
                                        <th class="text-center">CGST</th>
                                         <th class="text-center">SGST</th>
                                        <th class="text-center">CESS</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each order.orderitems}}
                                    
                                    <tr>
                                        <td class="text-center">{{ inc @index }}</td>
                                        <td class="text-center">{{ this.barcodemaster.ProductVariant }}</td>
                                        <td class="text-center">{{ this.quantity }}</td>
                                        <td class="text-center">{{ this.item_price }}</td>
                                        <td class="text-center">{{  round (math this.item_price "/" ( math 1 "+" this.tax_inc_cess) "*" this.quantity)   }}</td>
                                        <td class="text-center">{{ this.hsncode }}</td>
                                        <td class="text-center">{{ this.tax_inc_cess }}</td>
                                        <td class="text-center">{{ this.cgst }}</td>
                                        <td class="text-center">{{ this.sgst }}</td>
                                        <td class="text-center">{{ this.cess }}</td>
                                        <td class="text-center">{{ math this.quantity "*" this.item_price }}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table">
                                <tbody><tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td>₹ {{ order.bill_amount }}</td>
                                </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div>
                    <div class="row no-print">
                        <div class="col-12">
                            <a href="/invoice?orderId={{order.order_id}}&print=true" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                            <button type="button" class="btn btn-dark float-right" style="margin-right: 5px;">
                                <i class="fas fa-download"></i> Generate PDF
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
