<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="invoice p-3 md-3">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <img src="/images/apple-touch-icon.png" alt="" class="fluid">
                                Near.Store
                                <small class="float-right">{{ order.createdAt }}</small>
                            </h4>
                        </div>
                    </div>
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            Customer
                            <address>
                                <strong>Name</strong>: {{order.user.name}} <br>
                                <strong>Phone</strong>: {{order.user.phone}} <br>
                                 <strong>Address</strong>: {{order.user.address}} <br>
                                {{order.user.uaddress}}
                            </address>
                        </div>
                        
                        <div class="col-sm-4 invoice-col">
                            Store
                            <address>
                                <strong>Warehouse</strong>: Powai <br>
                                
                            </address>
                        </div>
                        <div class="col-sm-4 invoice-col">
                            {{!-- Order Info --}}
                            <strong>Order Id: </strong> {{order.order_id}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sr No</th>
                                        <th class="text-center">Product</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center">Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each order.orderitems}}

                                    {{#if this.deleted }}
                                   
                                   {{else}}
                                    <tr>
                                        <td class="text-center">{{ inc @index }}</td>
                                        <td class="text-center">{{ this.barcodemaster.ProductVariant }}</td>
                                        <td class="text-center">{{ this.quantity }}</td>
                                        <td class="text-center">{{ this.item_price }}</td>
                                        <td class="text-center">{{ math this.quantity "*" this.item_price }}</td>

                                        <td class="text-center" id="{{this.barcodemaster.BarCode}}"><a href="/invoice/deleteproduct?id={{this.barcodemasterId}}&&oid={{../order.order_id}}"><button class="btn-danger">Delete</button></a></td>
                                    </tr>
                                    {{/if}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>


                 
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="table-responsive">
                                <table class="table">
                                <tbody><tr>
                                    <th style="width:50%">Subtotal:</th>
                                    <td>₹ {{ order.bill_amount }}</td>
                                </tr>
                                </tbody></table>
                            </div>
                        </div>
                    </div><br>

                         <div class="row">
                          <label>Not Availiable Items In Order</label>
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sr No</th>
                                        <th class="text-center">Product</th>
                                        <th class="text-center">Quantity</th>
                                        
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each order.inventory}}
                                    <tr>
                                        <td class="text-center">{{ inc @index }}</td>
                                        <td class="text-center">{{ this.name }}</td>
                                        <td class="text-center">{{ this.qty }}</td>
                                     
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row no-print">
                        <div class="col-12">
                            {{!-- <a href="/invoice?orderId={{order.order_id}}&print=true" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a> --}}
                            <button type="button" class="btn btn-dark float-right" style="margin-right: 5px;">
                                <i class="fas fa-download"></i> Generate Invoice
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
