
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->

	</head>
	
	<!--begin::Body-->
	<body id="kt_body" class="print-content-only header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
						
							<div class="content flex-column-fluid" id="kt_content">
								<!-- begin::Card-->
								<div class="card card-custom overflow-hidden">
									<div class="card-body p-0">
										<!-- begin: Invoice-->
										<!-- begin: Invoice header-->
										<div class="row justify-content-center py-8 px-8 py-md-27 px-md-0">
											<div class="col-md-9">
												<div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
													<h1 class="display-4 font-weight-boldest mb-10">QUIKAF</h1>
													<div class="d-flex flex-column align-items-md-end px-0">
														
														<span class="d-flex flex-column align-items-md-end opacity-70">
															<span>{{ order.createdAt }}</span>
														</span>
													</div>
												</div>
												<div class="border-bottom w-100"></div>
												<div class="d-flex justify-content-between pt-6">
													<div class="d-flex flex-column flex-root">
														<span class="font-weight-bolder mb-2">CUSTOMER</span>
														<span class="opacity-70"><b>Name:</b> {{order.user.name}}</span>
                                                        <span class="opacity-70"><b>Phone:</b> {{order.user.phone}}</span>
                                                        <span class="opacity-70"><b>Address:</b> {{order.user.address}}</span>
													</div>
													<div class="d-flex flex-column flex-root">
														<span class="font-weight-bolder mb-2">STORE</span>
														<span class="opacity-70"><b>Warehouse:</b> Powai</span>
													</div>
													<div class="d-flex flex-column flex-root">
														<span class="font-weight-bolder mb-2">ORDER ID</span>
														<span class="opacity-70">{{order.order_id}}</span>
													</div>
												</div>
											</div>
										</div>
										<!-- end: Invoice header-->
										<!-- begin: Invoice body-->
										<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
											<div class="col-md-9">
                                                <table class="table">
														<thead>
															<tr>
																<th class="pl-0 font-weight-bold text-muted text-uppercase">Sr No.</th>
																<th class="font-weight-bold text-muted text-uppercase">Product</th>
																<th class="text-right font-weight-bold text-muted text-uppercase">Quantity</th>
																<th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Price</th>
                                                                <th class="text-right font-weight-bold text-muted text-uppercase">Total</th>
																<th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Action</th>
                                                                <!--<th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Update</th>-->
															</tr>
														</thead>
														<tbody>
                                                            {{#each order.orderitems}}

                                                                {{#if this.deleted }}
                                                            
                                                            {{else}}
															<tr class="font-weight-boldest">
																<td class="pl-0 pt-7">{{ inc @index }}</td>
																<td class="pt-7">{{ this.barcodemaster.ProductVariant }}</td>
																<td class="text-right pt-7" contenteditable id="qty-{{this.barcodemaster.BarCode}}">{{ this.quantity }}</td>
																<td class="pr-0 pt-7 text-right">{{ this.item_price }}</td>
                                                                <td class="pr-0 pt-7 text-right">{{ math this.quantity "*" this.item_price }}</td>
                                                                <td nowrap="nowrap" class="pr-0 pt-4 text-right">
                          
                           <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" title="Edit details">
                              <span class="svg-icon svg-icon-md" id="upd{{this.barcodemaster.BarCode}}" onclick="updateproduct({{this.barcodemasterId}},{{ this.quantity }},'{{../order.order_id}}',{{this.barcodemaster.BarCode}},{{ ../order.bill_amountact }},{{ ../order.bill_amountsys }},{{ this.item_price }});">
                                 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                       <rect x="0" y="0" width="24" height="24"></rect>
                                       <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "></path>
                                       <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"></rect>
                                    </g>
                                 </svg>
                              </span>
                           </a>
                           <a href="javascript:;" class="btn btn-sm btn-clean btn-icon" title="Delete" >
                              <span class="svg-icon svg-icon-md" id="{{this.barcodemaster.BarCode}}" onclick="deleteproduct({{this.barcodemasterId}},{{ this.quantity }},'{{../order.order_id}}',{{this.barcodemaster.BarCode}},{{ ../order.bill_amountact }},{{ ../order.bill_amountsys }},{{ this.item_price }});">
                                 <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                       <rect x="0" y="0" width="24" height="24"></rect>
                                       <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"></path>
                                       <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"></path>
                                    </g>
                                 </svg>
                              </span>
                           </a>
                        </td>

                                                                {{!-- <td class="text-danger pr-0 pt-7 text-right"><a href="#" class="btn btn-primary btn-shadow-hover font-weight-bold btn-sm">Primary</a></td> --}}
                                                                
															</tr>
															
															{{/if}}
                                                              {{/each}}
                                                              
														</tbody>


													</table>
                                                    
											</div>
										</div>
                                        
										<!-- end: Invoice body-->
										<!-- begin: Invoice footer-->
										<div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
											<div class="col-md-9">
												<!--begin::Total-->
											<div class="container">
												<div class="row justify-content-center">
													<div class="col-md-9">
														<div class="rounded d-flex align-items-center justify-content-between text-white max-w-425px position-relative ml-auto px-7 py-5 bgi-no-repeat bgi-size-cover bgi-position-center" style="background-image: url(/media/svg/shapes/abstract-9.svg);">
															<div class="font-weight-boldest font-size-h5">TOTAL AMOUNT</div>
															<div class="text-right d-flex flex-column">
																<span class="font-weight-boldest font-size-h3 line-height-sm">{{ order.bill_amountact }}</span>
																<span class="font-size-sm">Taxes included</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!--end::Total-->
											</div>
										</div>
										<!-- end: Invoice footer-->


                                       <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
											<div class="col-md-9">
                                                <span class="font-weight-bolder py-8 px-8 py-md-10 px-md-0">Not Availiable Items In Order</span>
                                                <table class="table">
														<thead>
															<tr>
																<th class="pl-0 font-weight-bold text-muted text-uppercase">Sr No.</th>
																<th class="font-weight-bold text-muted text-uppercase">Product</th>
																<th class="text-right font-weight-bold text-muted text-uppercase">Quantity</th>
																</tr>
														</thead>
														<tbody>
                                                           {{#each order.inventory}}
															<tr class="font-weight-boldest">
																<td class="pl-0 pt-7">{{ inc @index }}</td>
																<td class="pt-7">{{ this.name }}</td>
																<td class="text-right pt-7">{{ this.qty }}</td>
																
															</tr>
															
														
                                                              {{/each}}
                                                              
														</tbody>


													</table>
                                                    
											</div>
										</div>
										<!-- begin: Invoice action-->
										<div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
											<div class="col-md-9">
												<div class="text-right">
													<button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Generate Invoice</button>
												</div>
											</div>
										</div>
										<!-- end: Invoice action-->
										<!-- end: Invoice-->
									</div>
								</div>
								<!-- end::Card-->
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->
				
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		
		
    <script>
        function deleteproduct(barcode,qtyorg,orderid,bar,totalbill,withoutDic,itembill){
            
           // alert(barcode);

             // alert(totalbill);

               // alert(itembill);

            var qty = $("#qty-"+bar).text();

           // alert(qty);
             /// alert(orderid);

            if(qty > qtyorg || qty == 0){

                alert("Quantity can't be more than availiable qty or zero");
            }else{


                location.href = `/invoice/deleteproduct?id=${barcode}&oid=${orderid}&qty=${qty}&qtyorg=${qtyorg}&withoutDic=${withoutDic}&bill=${totalbill}&itembill=${itembill}`



            }
        }
         function updateproduct(barcode,qtyorg,orderid,bar,totalbill,withoutDic,itembill){
            var qty = $("#qty-"+bar).text();
            console.log('totalbill',totalbill);
            console.log('qtyorg',qtyorg);
            console.log('qty',qty);
            if(qty > qtyorg || qty == 0 || qty  == qtyorg ){

                alert("Quantity can't be more than availiable qty or zero Or please update to proceed");
            }else{
               
                location.href = `/invoice/updateproduct?id=${barcode}&oid=${orderid}&qty=${qty}&qtyorg=${qtyorg}&withoutDic=${withoutDic}&bill=${totalbill}&itembill=${itembill}`



            }
        }
        
    </script>
		<script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
	</body>
	<!--end::Body-->
</html>
























    


