
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		
	</head>
	
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
	<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
							
							<div class="content flex-column-fluid" id="kt_content">
								
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Promotion Data</h3>
										</div>
										
									</div>
									<div class="card-body">
<!--begin::Search Form-->
												<div class="mb-10">

                                                <div class="row mb-6">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Order Id:</label>
													<input type="text" class="form-control datatable-input" name="order_id_Search" id="order_id_Search" placeholder="Enter Order Id" data-col-index="0" />
												</div>
												<div class="col-lg-2 mb-lg-0 pt-8">
													
													 <a onclick="getDownloadbyId();" class="btn btn-primary btn-shadow font-weight-bold mr-2 text-white">Download</a>
												</div>
												<div class="col-lg-5 mb-lg-0 mb-6 pt-8">
	                                                <div class="input-daterange input-group" id="kt_datepicker">
														<input type="datetime-local" class="form-control datatable-input" id="startDate" name="startDate" placeholder="From" data-col-index="5" />
														<div class="input-group-append">
															<span class="input-group-text">
																<i class="la la-ellipsis-h"></i>
															</span>
														</div>
														<input type="datetime-local" class="form-control datatable-input" id="endDate" name="endDate" placeholder="To" data-col-index="5" />
													</div>
												</div>
												<div class="col-lg-2 mb-lg-0 mb-6 pt-8">
													<a onclick="getDownload();" class="btn btn-primary btn-shadow font-weight-bold mr-2 text-white">Download</a>
												</div>
											</div>

                                            <div class="row mb-6">
												<div class="col-lg-3 mb-lg-0 mb-6">
													<label>Book Order Delivery:</label><br>
													<a href="http://staging.near.store:8092/" target="_blank"><button class="btn btn-success btn-small"> Book Delivery Order</button></a>
												</div>
												
											
											</div>

												</div>
												<!--end::Search Form-->
                    <table id="table-order" class="table table-separate table-head-custom table-checkable">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Order ID</th>
                                {{!-- <th class="text-center" role="col">Task ID</th> --}}
                                <th>User ID</th>
                                {{!-- <th class="text-center" role="col">Store ID</th> --}}
                                <th>Amount</th>
                                <th>Source</th>
                                <th>State</th>
                                <th>Runner No</th>
                                <th>Status</th>
                                <th>Action</th>
                                {{!-- <th class="text-center" role="col">Amount Left</th> --}}
 
                                <th>createdAt</th>
                 
                                <th>Track URL</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            {{#each alllogistics}}
                            
                            <tr>
                              
                                <td>{{ inc @index }}</td>
                              
                                <td>{{ this.order_id }}</td>
                                <td>{{ this.user_id }}</td>
                                {{!-- <td class="text-center">{{ this.store_id }}</td> --}}
                                <td>{{ this.estimated_price }}</td>
                                <td>{{ this.source }}</td>
                                <td>{{ this.state }}</td>
                                <td>{{ this.runner_phone_number }}</td>
                                
                                 <td><button class="btn btn-success btn-small" id="{{this.id}}" onclick="trackStatus('{{this.order_id}}','{{this.source}}');">STATUS</button></td>
                                {{!-- <td class="text-center">"somedate"</td> --}}
                                {{#if this.state }}
                                   <td><button class="btn btn-danger btn-small" id="{{this.id}}" onclick="cancelDelivery('{{this.order_id}}','{{this.source}}');"> Cancel</button></td>
                                     
                               {{else}}
                                     <td><button class="btn btn-danger btn-small" id="{{this.id}}" onclick="cancelDelivery('{{this.order_id}}','{{this.source}}');">Cancel</button></td>
                                {{/if}}
                            
                                <td>{{ localtime this.createdAt }}</td>
                                  
                                <td> <a href="{{ this.track_url }}" target="_balnk">{{ this.track_url }}</a></td>
                                           
                               
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
					
										<!--end: Datatable-->
									</div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->

				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->

					
<script>


 function getDownloadbyId(order_id){
  var check = false;
var order_id_Search = $('#order_id_Search').val();
if(!!order_id_Search){
    check = true;

}else{
   check= false
}
if(check){

    window.open(
  '/logistic/downloadById?order_id_Search='+order_id_Search,
  '_blank' // <- This is what makes it open in a new window.
);
  
}else{
    alert('please select both the date');
}

 }

 function trackStatus(order_id,source){

        $.ajax({
        method: 'GET',
        url: '/logistic/trackStatus?order_id='+order_id+'&source='+source,
        success: (data) => {
            if (data.status == 0) {
                toastr.error(data.message, 'Failed to get details');
            } else if (JSON.parse(data.data).status == 1) {
                if(source =='dunzo'){
                    toastr.success(data.message, JSON.parse(data.data).data.state);
                
                }else{
            toastr.success(data.message, JSON.parse(data.data).data.data.status);
                }
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
    

}
 function cancelDelivery(order_id,source){

      $.ajax({
        method: 'POST',
        url: '/logistic/cancelDelivery',
        data:{'order_id': order_id,'source':source},
        success: (data) => {
        
                if(source =='dunzo'){
                    if (JSON.parse(data.data).status == 0) {
                    toastr.error(data.message, JSON.parse(data.data).status);
                } else if (JSON.parse(data.data).status == 1) {
                    toastr.success(data.message, 'Successfully cancelled');    
                }
                }
                    
                 if(source == 'shadowfax'){
                        
                alert(JSON.parse(JSON.parse(data.data).data).message);
                    }else{

                if(JSON.parse(data.data).status == 0){
                    console.log('dataa',data)
                    alert(JSON.parse(data.data).data.message);
                //alert(JSON.parse(JSON.parse(data.data).data).message);
                }else{
                    alert(JSON.parse(data.data).data.message);
                  }
                 }
            
            },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
    

}
function getDownload(){
    var check = false;
var endDate = $('#endDate').val();
var startDate = $('#startDate').val();
if(!!startDate && !!endDate){
    check = true;
    var endDateArr = endDate.split('T');
    var startDateArr = startDate.split('T');
    var fromDate = startDateArr[0];
    var fromTime = startDateArr[1];
    var toDate = endDateArr[0];
    var toTime = endDateArr[1];
}else{
   check= false
}
if(check){

    window.open(
  '/logistic/download?fromTime='+fromTime+'&fromDate='+fromDate+'&toDate='+toDate+'&toTime='+toTime,
  '_blank' // <- This is what makes it open in a new window.
);
  
}else{
    alert('please select both the date');
}

}
var dataFormat ='2021-01-29 13:53:56.552+05:30';
$(document).ready(function() {
    $('#table-order').DataTable({
        responsive: true,
        scrollX: true,
    });
    let qs = new URLSearchParams(location.search);
    const storeFilter = qs.get('storeId');
    const orderStatus = qs.get('status');
    const paidStatus = qs.get('paid'); 
    if (storeFilter) {
        $('#store-selector').val(storeFilter);
    }
    if (orderStatus) {
        $('#status-select').val(orderStatus)
    }
    if (paidStatus) {
        $('#paid-status-select').val(paidStatus);
    }
});
function createToast() {
    $(document).Toasts('create', {
        class: 'bg-maroon',
        title: 'Updated',
        autohide: true,
        delay: 1000,
        body: 'Data Updated'
    });
}
function updateOrder(orderId) {
    let statusElement = document.getElementById(`status-${orderId}`);
    let status = statusElement.options[statusElement.selectedIndex].value;
    let paid = document.getElementById(`paid-${orderId}`).checked ? 1 : 0;
    $.ajax({
        method: 'GET',
        url: `/api/status?orderId=${orderId}&status=${status}&paid=${paid}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
                toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
}
</script>
		
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Vendors(used by this page)-->
		<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<!--<script src="/metrojs/pages/crud/datatables/basic/scrollable.js"></script>-->
        <script src="/metrojs/pages/crud/datatables/basic/basic.js"></script>
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>





