
<!DOCTYPE html> 
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}
html, body {
  height: 100%;
  background-color: #f1f1f1;
}
/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 15%;
     height: 100%;
}

/* Style the buttons inside the tab */
.tab div {
  display: block;
  background-color: inherit;
  color: black;
      padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab div:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab div.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  border: 1px solid #ccc;
  width: 50%;
  border-left: none;
   height: 100%;
}


.tabcontent1 {
  float: left;
  /*padding: 0px 12px;*/
  border: 1px solid #ccc;
  width: 50%;
  border-left: none;
   height: 100%;
  display:none;
  background-color:#ccc
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

th, td {
  text-align: left;
  padding: 4px;
}

tab tabcontent1:focus{background-color:#ccc}

.dot {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
</style>
</head>
<body>





<div class="tab tabcontent" id="London">
  <div class="tablinks1" onclick="openCityOne(event, 'London1')" id="defaultOpen">
	<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Order Id</th>
      <th>Time Elapsed</th>
      <th>Payment Status</th>
      <th>Current Status</th>
      <th>Dispatch?</th>
      
    </tr>
    <tr>
      <td>QAF-234-45-395</td>
      <td>Smith</td>
      <td><span class="dot" style="background:green;"></span>&nbsp;&nbsp;50</td>
      <td>50</td>
      <td><span class="dot" style="background:green;"></span></td>
      
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td><span class="dot" style="background:red;"></span>&nbsp;&nbsp;94</td>
      <td>94</td>
      <td><span class="dot" style="background:red;"></span></td>
      
    </tr>
  
  </table>
</div>
  
  </div>
  <div class="tablinks1" onclick="openCityOne(event, 'Paris1')">
  <div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Order Id</th>
      <th>Time Elapsed</th>
      <th>Payment Status</th>
      <th>Current Status</th>
      <th>Dispatch?</th>
      
    </tr>
    <tr>
      <td>QAF-234-45-395</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
      
    </tr>
  
  </table>
</div>
  </div>
  <div class="tablinks1" onclick="openCityOne(event, 'Tokyo1')">
	<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Order Id</th>
      <th>Time Elapsed</th>
      <th>Payment Status</th>
      <th>Current Status</th>
      <th>Dispatch?</th>
      
    </tr>
    <tr>
      <td>QAF-234-45-395</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      <td>50</td>
      
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>94</td>
      <td>94</td>
      
    </tr>
  
  </table>
</div>
  </div>
</div>



<div id="London1" class="tab tabcontent1">
  <div style="overflow-x:auto;">
  <center><small>ORDER ID :QAF3382-1123-1234-8878 <span style="color:red"><b>ELAPSED TIME : 03:10</b></span></small></center>
    <table>
    <tr>
      <th>S.No</th>
      <th>Item Name</th>
      <th>Qty</th>
      <th>Item Photo</th>
      
      
    </tr>
    <tr>
      <td>1</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      
      
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>94</td>
     
      
    </tr>
  
  </table>
</div>
</div>
<div id="Paris1" class="tab tabcontent1">
 <div style="overflow-x:auto;">
 <center><small>ORDER ID :QAF3382-1123-1234-8878 <span style="color:red"><b>ELAPSED TIME : 03:10</b></span></small></center>
    <table>
    <tr>
      <th>S.No</th>
      <th>Item Name</th>
      <th>Qty</th>
      <th>Item Photo</th>
      
      
    </tr>
    <tr>
      <td>2</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      
      
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>94</td>
     
      
    </tr>
  
  </table>
</div>
</div>

<div id="Tokyo1" class="tab tabcontent1">
  <div style="overflow-x:auto;">
  <center><small>ORDER ID :QAF3382-1123-1234-8878 <span style="color:red"><b>ELAPSED TIME : 03:10</b></span></small></center>
  <table>
    <tr>
      <th>S.No</th>
      <th>Item Name</th>
      <th>Qty</th>
      <th>Item Photo</th>
      
      
    </tr>
    <tr>
      <td>3</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      
      
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
      <td>94</td>
     
      
    </tr>
  
  </table>
</div>
</div>








<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();


function openCityOne(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent1");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks1");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen1").click();
</script>
   
</body>
</html> 
