
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />


		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="canonical" href="https://keenthemes.com/metronic" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
        <link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->

	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					
				
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
							<div class="content flex-column-fluid" id="kt_content">
								<!--begin::Teachers-->
								<div class="d-flex flex-row">
									<!--begin::Aside-->
									 
									<!--end::Aside-->
									<!--begin::Content-->
									<div class="flex-row-fluid ml-lg-8">
										<!--begin::Card-->
										<div class="card card-custom">
											<!--begin::Header-->
											<div class="card-header flex-wrap border-0 pt-6 pb-0">
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label font-weight-bolder font-size-h3 text-dark">My Orders</span>
													<span class="text-muted mt-1 font-weight-bold font-size-sm">Manage over 1600 products</span>
												</h3>
												
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body">
												<!--begin: Search Form-->
												<!--begin::Search Form-->
												<div class="mb-10">
													<div class="row align-items-center">
														<div class="col-lg-9 col-xl-8">
															<div class="row align-items-center">
																<!--<div class="col-md-4 my-2 my-md-0">
																	<div class="input-icon">
																		<input type="text" class="form-control form-control-solid" placeholder="Search..." id="kt_datatable_search_query" />
																		<span>
																			<i class="flaticon2-search-1 text-muted"></i>
																		</span>
																	</div>
																</div>--->
                                                <div class="col-md-4 my-2 my-md-0">
																	<select id="store-selector" class="form-control form-control-solid"  onchange="selectChangeHandler();">
                                                      <option value="">Store</option>
                                                      <option value="175">QuikAf Powai</option>
                                                      <option value="239">QuikAf Bandra</option>
																	</select>
																</div>

																<div class="col-md-4 my-2 my-md-0">
																	<select class="form-control form-control-solid" id="status-select" onchange="handleStatusChange();">
                                                      <option selected="true" disabled="true">Status</option>
                                                      <option value="RECEIVED">Received</option>
                                                      <option value="CONFIRMED">Confirmed</option>
                                                      <option value="DISPATCHED">Packed</option>
                                                      <option value="DELIVERED">Delivered</option>
                                                      <option value="CANCELLED">Cancelled</option>
																	</select>
																</div>
																<div class="col-md-4 my-2 my-md-0">
																	<select class="form-control form-control-solid" id="paid-status-select" onchange="handlePaidStatusChange();">
                                                      <option selected="true" disabled="true">Paid Status</option>
                                                      <option value="1">Paid</option>
                                                      <option value="0">Pending</option>
																	</select>
																</div>
															</div>
														</div>
														<div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
															<a href="#" class="btn btn-light-primary px-6 font-weight-bold">Search</a>
														</div>
													</div>
												</div>
												<!--end::Search Form-->
												<!--end: Search Form-->
												<!--begin: Datatable-->
												<!--<div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>-->

										<table class="table table-separate table-head-custom table-checkable" id="kt_datatable1">
											<thead>
												<tr>
													<th>Sr No.</th>
													<th>Order ID</th>
													<th>Store Name</th>
													<th>User</th>
													<th>Status</th>
													<th>Person Name</th>
													<th>Amount</th>
													<th>Paid</th>
													<th>Payment Id</th>
													<th>Gateway</th>
													<th>Timestamp</th>
                                                    <th>Action</th>
												</tr>
											</thead>
											<tbody>
                                                                            {{#each orders}}
												<tr>
													<td>{{ inc @index }}</td>
													<td><a href="/invoice?orderId={{order_id}}" style="color: inherit;">{{ ./this.order_id }}</a></td>
													<td>{{ ./this.name }}</td>
													<td>{{ ./this.email }}
														<input type="hidden" value="{{ ./this.order_id }}" name="" id="initTable{{ inc @index }}">
													</td>
													<td>
                                                        <select class="form-control form-control-solid" id="status-{{order_id}}" style="padding: 0;">
                                                            {{#select ./this.status}}
                                                                        <option value="RECEIVED">Received</option>
                                                                        <option value="CONFIRMED">Confirmed</option>
                                                                        <option value="DISPATCHED">Packed</option>
                                                                        <option value="DELIVERED">Delivered</option>
                                                                        <option value="CANCELLED">Cancelled</option>
                                                            {{/select}}
                                                            </select>
                                                    </td>
													<td>
                                                                                       {{../this.person}}
                                                        <select class="form-control form-control-solid" id="packing-{{order_id}}" style="padding: 0;">

                                                                                                    {{#slect1 ./this.person}}
                                                                        
                                                                    {{#each ../personarr}}
                                                                    
                                                                        <option value="{{this.id}}">{{this.name}}</option> 
                                                                                                                {{/each}} 

                                                                        {{/slect1}}
									                    </select>
                                                    </td>
													<td>{{ ./this.bill_amount }}</td>
													<td>
                                                        {{#if paid}}
                                                        <span id="paid-{{./this.order_id}}" class="label label-lg font-weight-bold label-light-info label-inline">Paid</span>
                                                        {{else}}
                                                        <span id="paid-{{./this.order_id}}" class="label label-lg font-weight-bold label-light-danger label-inline">Unpaid</span>
                                                        {{/if}}
                                                                                                             
                                                                                                             
    
                                                    </td>
                                                    
													                                {{#if razorpay_payment_id }}
                                    <td class="text-center">{{ razorpay_payment_id }}</td>
                                {{else if paytm_bank_txid}}
                                    <td class="text-center">{{ paytm_bank_txid }}</td>
                                {{else}}
                                    <td class="text-center">NA</td>
                                {{/if}}
                                {{#if razorpay_payment_id }}
                                    <td class="text-center">{{gateway}}</td>
                                {{else if paytm_bank_txid}}
                                    <td class="text-center">Paytm</td>
                                {{else}}
                                    <td class="text-center">NA</td>
                                {{/if}}
                                    <td class="text-center">{{ localtime ./this.createdAt }}</td>

													<td nowra1="nowrap2">
                                                       
                                                    </td>
												</tr>
                                            {{/each}}
											</tbody>
										</table>
                                            

												<!--end: Datatable-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Card-->
									</div>
									<!--end::Content-->
								</div>
								<!--end::Teachers-->
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->
					
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
	
	


<script>
function appendToQueryString(key, value) {
    let params = new URLSearchParams(location.search);
    params.set(key, value);
    const qs = params.toString();
    window.location.href = `/order?${qs}`;
}
function selectChangeHandler() {
    let selectElement = document.getElementById('store-selector');
    let storeId = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('storeId', storeId);
}
function handleStatusChange() {
    let selectElement = document.getElementById('status-select');
    let status = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('status', status)
}




function handlePaidStatusChange() {
    let selectElement = document.getElementById('paid-status-select');
    let status = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('paid', status)
}

$(document).ready(function() {
    $('#table-order').DataTable({
        responsive: true,
        scrollX: true,
    });
    let qs = new URLSearchParams(location.search);
    const storeFilter = qs.get('storeId');
    const orderStatus = qs.get('status');
    const paidStatus = qs.get('paid'); 
    if (storeFilter) {
        $('#store-selector').val(storeFilter);
    }
    if (orderStatus) {
        $('#status-select').val(orderStatus)
    }
    if (paidStatus) {
        $('#paid-status-select').val(paidStatus);
    }
});

function createToast() {
    $(document).Toasts('create', {
        class: 'bg-maroon',
        title: 'Updated',
        autohide: true,
        delay: 1000,
        body: 'Data Updated'
    });
}
function updateOrder(orderId) {
    let statusElement = document.getElementById(`status-${orderId}`);
    let status = statusElement.options[statusElement.selectedIndex].value;
     let selectElement = document.getElementById('store-selector');
    let storeId = selectElement.options[selectElement.selectedIndex].value;

    var st = selectElement.options[selectElement.selectedIndex].value;

   

    if(storeId == "239"){

        storeId = "e0512496BANR";
    }else{
        storeId = "e0512496NSKI";
    }

    // alert(storeId);

    let packingElement = document.getElementById(`packing-${orderId}`);
    let personname = packingElement.options[packingElement.selectedIndex].value;
	let paid = $(`paid-${orderId}`).val();
	if(paid =='paid'){
		paid=1;
	}else{
		paid = 0;
	}
    //let paid = document.getElementById(`paid-${orderId}`).checked ? 1 : 0;
    $.ajax({
        method: 'GET',
        url: `/api/status?orderId=${orderId}&status=${status}&paid=${paid}&personname=${personname}&location=${storeId}&storeid=${st}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
                toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
}


</script>

		
		<!--begin::Global Config(global config for global JS scripts)-->
		<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#8950FC", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#6993FF", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#EEE5FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#E1E9FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
		<!--end::Global Config-->
		<!--begin::Global Theme Bundle(used by all pages)-->
		<script src="/plugins/global/plugins.bundle.js"></script>
		<script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
		<script src="/metrojs/scripts.bundle.js"></script>
		<!--end::Global Theme Bundle-->
		<!--begin::Page Scripts(used by this page)-->
		<!--<script src="/js/pages/custom/ecommerce/my-orders.js"></script>-->
		<!--end::Page Scripts-->
        <script src="/plugins/custom/datatables/datatables.bundle.js"></script>
        <script src="/metrojs/pages/crud/datatables/basic/scrollable.js"></script>






	</body>
	<!--end::Body-->
</html>