
<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 11 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="../../../">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/metrocss/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		
	</head>
	
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

					
					<!--begin::Container-->
					<div class="d-flex flex-row flex-column-fluid container-fluide">
						<!--begin::Content Wrapper-->
						<div class="main d-flex flex-column flex-row-fluid">
							
							<div class="content flex-column-fluid" id="kt_content">
								
								<!--begin::Card-->
								<div class="card card-custom">
									<div class="card-header">
										<div class="card-title">
											<span class="card-icon">
												<i class="flaticon2-delivery-package text-primary"></i>
											</span>
											<h3 class="card-label">Order Items</h3>
										</div>
										
									</div>
									<div class="card-body">
<!--begin::Search Form-->
												<div class="mb-10">
													<div class="row align-items-center">
														<div class="col-lg-9 col-xl-8">
															<div class="row align-items-center">
																<!--<div class="col-md-4 my-2 my-md-0">
																	<div class="input-icon">
																		<input type="text" class="form-control form-control-solid" placeholder="Search..." id="kt_datatable_search_query" />
																		<span>
																			<i class="flaticon2-search-1 text-muted"></i>
																		</span>
																	</div>
																</div>--->
                                                <div class="col-md-4 my-2 my-md-0" style="display: none;">
													<select id="store-selector" class="form-control form-control-solid"  onchange="selectChangeHandler();">
                                                      <option value="">Store</option>
                                                      <option value="175">QuikAf Powai</option>
                                                      <option value="239">QuikAf Bandra</option>
																	</select>
													</div>
												<div class="col-md-5 my-2 my-md-0">
													<div class="input-daterange input-group">
														<input type="text" class="form-control datatable-input"  id="min" name="min" placeholder="From"  />
														<div class="input-group-append">
															<span class="input-group-text">
																<i class="la la-ellipsis-h"></i>
															</span>
														</div>
														<input type="text" class="form-control datatable-input"  id="max" name="max" placeholder="To" />
													</div>
												</div>

															</div>
														</div>
														<div class="col-lg-3 col-xl-4 mt-5 mt-lg-0"  style="display:none">
															<a href="#" class="btn btn-light-primary px-6 font-weight-bold">Search</a>
														</div>
														
													</div>
												</div>
												<!--end::Search Form-->

<table class="table table-separate table-head-custom table-checkable" id="table-products">
											<thead>
												<tr>
													<th>Sr No.</th>
													<th>Order ID</th>
                                                    	
													<th>Product Name</th>
													<th>Brand</th>
													<th>Sold Quanitiy</th>
													<th>Store</th>
                                                    <th>Date</th>
												

												</tr>
											</thead>
											<tbody>
                                                                            {{#each ordersss}}
																								<tr>
													<td>{{ inc @index }}</td>
													<td>{{ order_id }}</td>
                                                    
													<td>{{ name }}</td>
													<td>{{ brand }}</td>
													<td>{{ quantity }}</td>
															{{#ifequals  storeId  "239" }} 
														<td class="text-center">Bandra</td>
														{{else}}
														<td class="text-center">Powai</td>
														{{/ifequals}}
												
													
                                                      <td>{{ datecon createdAt }}</td>
												</tr>
                                            {{/each}}
											</tbody>
										</table>
										<!--end: Datatable-->
									</div>
								</div>
								<!--end::Card-->
							</div>
							<!--end::Content-->
						</div>
						<!--begin::Content Wrapper-->
					</div>
					<!--end::Container-->

				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->

	<script>
function editProduct(payload, storeid) {
    let params = new URLSearchParams(location.search);
     
     var storeId = storeid;

    localStorage.setItem('whlocation',storeId);
    localStorage.setItem('barcode',payload);
   window.open('/inventory/', '_blank');
    //location.href='/inventory/';
   // alert(storeId);
    /*$.ajax({
        method: 'GET',
        url: `/api/catalogue?barcode=${payload}&storeId=${storeId}`,
        success: (data) => {
            document.getElementById('modal-ptitle').innerText = data.name;
            document.getElementById("product-name-modal").value = data.name;
            document.getElementById("product-dname-modal").value = data.displayName;
            document.getElementById("product-brand-modal").value = data.brand;
            document.getElementById("product-company-modal").value = data.company;
            document.getElementById("product-price-modal").value = data.price;
            document.getElementById("product-dprice-modal").value = data.discountPrice;
            document.getElementById("product-barcode-modal").value = data.barcode;
            document.getElementById("product-sale-count-modal").value = data.count;
            $('#productEdit').modal('show');
        }, 
        error: (err) => {
            console.log(err);
        }
    })
    */
}
function processChanges() {
    let displayName = document.getElementById("product-dname-modal").value;
    let price = document.getElementById("product-price-modal").value;
    let discountPrice = document.getElementById("product-dprice-modal").value;
    let productBarcode = document.getElementById("product-barcode-modal").value;
    let productSaleCount = document.getElementById("product-sale-count-modal").value;
    let params = new URLSearchParams(location.search);
    const storeId = params.get('storeId');
    const payload = {
        displayName: displayName, 
        discountPrice: discountPrice, 
        saleCount: productSaleCount, 
        barcode: productBarcode, 
        price: price,
        storeId: storeId,
    }
    $.ajax({
        method: 'POST',
        url: '/api/catalogue',
        data: payload,
        success: (data) => {
            toastr.success(`${displayName} updated`, 'Updated');
            $('#productEdit').modal('hide');
        },
        error: (err) => {
            toastr.error(err, 'Error');
        }
    });
}
function updateVisibility(barcode,storeid) {
    let params = new URLSearchParams(location.search);
    //const storeId = params.get('storeId');
       const storeId = storeid;
    if (!storeId) {
        toastr.error('No storeId', 'Error')
        return;
    }
    let toggle = document.getElementById(`customSwitch-${barcode}${storeid}`);
    const visible = toggle.checked ? 1 : 0;
    $.ajax({
        method: 'GET',
        url: `/api/visible?storeId=${storeId}&barcode=${barcode}&visible=${visible}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
                toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        } 
    });
}
function appendToQueryString(key, value) {
    let params = new URLSearchParams(location.search);
    params.set(key, value);
    const qs = params.toString();
    if(value =='all'){
   window.location.href = `/product/allproducts`;
    }else{
    window.location.href = `/product?${qs}`;
    }
}
function selectChangeHandler() {
    let selectElement = document.getElementById('store-selector');
    let storeId = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('storeId', storeId);
}

function updateStoreSelect() {
    let selectElement = document.getElementById('store-selector');
    let options = selectElement.getElementsByTagName('option');
    let params = new URLSearchParams(location.search);
    const storeId = params.get('storeId');
    if (storeId === null) {
        options[0].selected = true;
    } else {
        for(let i = 0; i < options.length; i++) {
            if (options[i].value == storeId) {
                options[i].selected = true;
                break;
            }
        }
    }
}


$("#addwarehouse").click(function(){

   var name = $("#locname").val();
   var address = $("#locaddress").val();
   var phone = $("#locphone").val();



    $.ajax
    ({ 
        url: `https://ekastaplatform.com/insertwh.php?name=${name}&address=${address}&phone=${phone}`,
        type: 'get',
        success: function(result)
        {
           
           alert("Addded Succesfully");

           location.reload();
        }
    });
});



$(document).ready(function() {
    updateStoreSelect();
        minDate = new DateTime($('#min'), {
        format: 'YYYY-MM-DD'
    });
    maxDate = new DateTime($('#max'), {
        format: 'YYYY-MM-DD'
    });
 
    // DataTables initialisation
    var table = $('#table-products').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
 
    // Refilter the table
    $('#min, #max').on('change', function () {
        table.draw();
    });
 //   $('#table-products').DataTable({});
});


var minDate, maxDate;
 
// Custom filtering function which will search data in column four between two values
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = minDate.val();
        var max = maxDate.val();
        var date = new Date( data[6] );
 
        if (
            ( min === null && max === null ) ||
            ( min === null && date <= max ) ||
            ( min <= date   && max === null ) ||
            ( min <= date   && date <= max )
        ) {
            return true;
        }
        return false;
    }
);
</script>	
		
		<!--begin::Global Config(global config for global JS scripts)-->
	
		<!--end::Page Scripts-->
	</body>
	<!--end::Body-->
</html>