<section class="invoice">
    <div class="row">
        <div class="col-12">
            <h2 class="page-header">
                <img src="/images/apple-touch-icon.png" alt="" class="fluid">
                Near.Store
          <small class="float-right">{{ order.0.createdAt }}</small>
        </h2>
        </div>
    </div>
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            Customer
            <address>
            <strong>Name</strong>: {{order.0.username}} <br>
            <strong>Phone</strong>: {{order.0.phone}} <br>
            {{order.0.uaddress}}
        </address>
        </div>
        <div class="col-sm-4 invoice-col">
            Store
            <address>
                <strong>name</strong>: {{order.0.storename}} <br>
                <strong>storeID</strong>: {{order.0.store_id}}
            </address>
        </div>
        <div class="col-sm-4 invoice-col">
            <strong>Order Id: </strong> {{order.0.order_id}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Sr No</th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each order}}
                    <tr>
                        <td class="text-center">{{ inc @index }}</td>
                        <td class="text-center">{{ ProductVariant }}</td>
                        <td class="text-center">{{ quantity }}</td>
                        <td class="text-center">{{ Price }}</td>
                        <td class="text-center">{{ math quantity "*" Price }}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>₹ {{order.0.bill_amount}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>