<section class="content">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Products</h3>
                    <button class="float-right btn btn-success btn-small" data-toggle="modal" data-target="#upload-file-modal">Add Products</button>
                </div>
                <div class="card-body">
                    <table id="table-products" class="table table-borderd table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" role="col">Sr No.</th>
                                <th class="text-center" role="col">Product Variant</th>
                                <th class="text-center" role="col">Product Group</th>
                                <th class="text-center" role="col">Product Category</th>
                                <th class="text-center" role="col">Barcode</th>
                                <th class="text-center" role="col">Product Type</th>
                                <th class="text-center" role="col">Company</th>
                                <th class="text-center" role="col">Brand Name</th>
                                <th class="text-center" role="col">Price</th>
                                <th class="text-center" role="col">Image</th>
                                <th class="text-center" role="col">Visible</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td class="text-center">{{ inc @index }}</td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch-{{@index}}" {{#if visible}}checked{{/if}}>
                                        <label class="custom-control-label" for="customSwitch-{{@index}}"></label>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- modal--}}
<div id="upload-file-modal" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Upload Excel</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="file" id="excel-file-products" class="form-control">
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-dark" onclick="excelUpload()">Save changes</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
{{!-- end modal --}}
<script src="/js/csv.min.js"></script>
<script>
function excelUpload() {
    let fileUpload = new FormData();
    let fileSelectElement = document.getElementById('excel-file-products');
    if (fileSelectElement.files && fileSelectElement.files.length == 1) {
        const file = fileSelectElement.files[0];
        fileUpload.set('file', file, file.name)
    }

    const request = new XMLHttpRequest();

    request.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            console.log('works')
        }
    }

    request.open('POST', '/api/fileupload');
    request.send(fileUpload);

}
</script>