<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>Dashboard</b>Near.Store</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register a new membership</p>

      <form action="/register" method="post">
        <div class="input-group mb-3">
          <input type="text" name="name" class="form-control" placeholder="Full name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input id="pass" type="password" name="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input id="checkPass" type="password" name="password" class="form-control" placeholder="Retype password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
          </div>
          <div class="col-4">
            <button id="submitBtn" type="submit" class="btn btn-dark btn-block" disabled>Register</button>
          </div>
        </div>
      </form>
      <a href="/login" class="text-center">I already have a membership</a>
    </div>
  </div><!-- /.card -->
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/adminlte.js"></script>
<script>
function passwordCheck() {
  let passwordInput = document.getElementById('pass');
  let checkPasswordInput = document.getElementById('checkPass');
  let submitButton = document.getElementById('submitBtn');
  if (passwordInput.value !== checkPasswordInput.value) {
    checkPasswordInput.classList.add('is-invalid');
    submitButton.disabled = true;
  } else {
    checkPasswordInput.classList.remove('is-invalid');
    checkPasswordInput.classList.add('is-valid');
    submitButton.disabled = false;
  }
}
$(document).ready(function() {
  $('#pass, #checkPass').keyup(passwordCheck);
})
</script>
</body>
