<section class="content">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Search Analytics</h3>
                </div>
                <div class="card-body">
                    <table id="table-products" class="table table-borderd table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" role="col">Sr No.</th>
                                <th class="text-center" role="col">Keyword</th>
                                <th class="text-center" role="col">Date & Time</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td class="text-center">{{ inc @index }}</td>
                                <td class="text-center">{{ keyword }}</td>
                                <td class="text-center">{{ created_on }}</td>
                               
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- modal--}}

{{!-- end modal --}}
<script src="/js/csv.min.js"></script>
<script>
function excelUpload() {
    let fileUpload = new FormData();
    let fileSelectElement = document.getElementById('excel-file-products');
    if (fileSelectElement.files && fileSelectElement.files.length == 1) {
        const file = fileSelectElement.files[0];
        fileUpload.set('file', file, file.name)
    }

    const request = new XMLHttpRequest();

    request.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            console.log('works')
        }
    }

    request.open('POST', '/api/fileupload');
    request.send(fileUpload);

}

$(document).ready(function() {
    $('#table-products').DataTable({});
});
</script>