<section class="content">
  <div class="container-fluid">
	<div class="row">
	  <!-- left column -->
	  
	  <!--/.col (left) -->
	  <!-- right column -->
	  <div class="col-md-12">
		<!-- general form elements disabled -->
		<div class="card card-primary">
		  <div class="card-header">
			<h3 class="card-title">Add Product</h3>
		  </div>
		  <!-- /.card-header -->
		  <div class="card-body">
			<form role="form">
			  <div class="row">
				<div class="col-sm-4">
				  <!-- text input -->
				  <div class="form-group">
					<label>Product Variant</label>
					<input type="text" class="form-control" id="product-variant" placeholder="Enter Product Variant">
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Product Group</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="product-group">
						<option selected="true" disabled="true">--select--</option>
						{{#each group}}
							<option value="{{ ProductGroup }}">{{ ProductGroup }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Product Category</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="product-category">
						<option selected="true" disabled="true">--select--</option>
						{{#each category}}
							<option value="{{ ProductCategory }}">{{ ProductCategory }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-sm-4">
				  <!-- text input -->
				  <div class="form-group">
					<label>Bar Code</label>
					<input type="text" class="form-control" placeholder="Enter Barcode" id="product-barcode" value="{{ barcode }}" readonly>
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Product Type</label>
					<input type="text" id="product-type" class="form-control" placeholder="Enter Product Type">
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Image URL</label>
					<input type="text" class="form-control" id="image-url" placeholder="Enter url">
				  </div>
				</div>
			  </div>

			  <div class="row">
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Company</label>
					<select id="company" class="custom-select custom-select-sm form-control form-control-sm">
						<option selected="true" disabled="true">--select--</option>
						{{#each company}}
							<option value="{{ Company }}">{{ Company }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Brand Name</label>
					<select id="brand-name" class="custom-select custom-select-sm form-control form-control-sm">
						<option selected="true" disabled="true">--select--</option>
						{{#each brand}}
							<option value="{{ BrandName }}">{{ BrandName }}</option>
						{{/each }}
					</select>
				  </div>
				</div>
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Price</label>
					<input type="number" class="form-control" id="price" placeholder="Enter Price">
				  </div>
				</div>
			  </div>

			  <div class="row">                   
				<div class="col-sm-4">
				  <div class="form-group">
					<label>Discounted Price</label>
					<input type="number" class="form-control" id="discount-price" placeholder="Enter Discounted Price">
				  </div>
				</div>

				<div class="col-sm-4">
				  <div class="form-group">
					<label>Store Name</label>
					<select class="custom-select custom-select-sm form-control form-control-sm" id="store">
						<option selected="true" disabled="true">--select--</option>
						{{#each store}}
							<option value="{{id}}">{{ name }}</option>
						{{/each }}
					</select>
				  </div>
				</div>

			  </div>
			  
			  <div class="row float-sm-right">                   
				<div class="col-sm-4">
					<button type="submit" class="btn btn-dark" id="submit-btn">Submit/Add</button>
				</div>
			  </div>

			  
			</form>
		  </div>
		  <!-- /.card-body -->
		</div>
		<!-- /.card -->
		<!-- general form elements disabled -->
		
		<!-- /.card -->
	  </div>
	  <!--/.col (right) -->
	</div>
	<!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<script>
const barcodeElement = document.getElementById('product-barcode');
const btnElement = document.getElementById('submit-btn');

function getSelectedValue(id) {
	let element = document.getElementById(id);
	const value = element.options[element.selectedIndex].value;
	return value;
}

btnElement.addEventListener('click', function(event) {
	event.preventDefault();
	const name = document.getElementById('product-variant').value;
	const barcode = document.getElementById('product-barcode').value;
	const ptype = document.getElementById('product-type').value;
	const image = document.getElementById('image-url').value;
	const price = document.getElementById('price').value;
	const discountPrice = document.getElementById('discount-price').value;

	const group = getSelectedValue('product-group');
	const category = getSelectedValue('product-category');
	const company = getSelectedValue('company');
	const brand = getSelectedValue('brand-name');
	const store = getSelectedValue('store');

	$.ajax({
		method: 'POST',
		url: '/api/product-add',
		data: {
			name: name,
			group: group,
			category: category,
			barcode: barcode,
			ptype: ptype,
			image: image,
			company: company,
			brand: brand,
			price: price,
			discountPrice: discountPrice,
			store: store,
		},
		success: (data) => {
			toastr.success(`add ${name}`, 'Created');
		},
		error: (err) => {
			toastr.error('unable to add product', 'Error');
		}
	});
});

</script>
