<section class="content">
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Stores</h3>
                </div>
                <div class="card-body">
                    <table id="table-stores" class="table table-borderd table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" role="col">Sr No.</th>
                                <th class="text-center" role="col">Name</th>
                                <th class="text-center" role="col">Address</th>
                                <th class="text-center" role="col">url</th>
                                <th class="text-center" role="col">Boxes</th>
                                <th class="text-center" role="col">Active</th>
                                <th class="text-center" role="col">Edit</th>
                                <th class="text-center" role="col">Hide All</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each stores}}
                            <tr>
                                <td class="text-center">{{ inc @index }}</td>
                                <td class="text-center" id="store-name-{{id}}" data-storeid="{{store_id}}">{{ name }}</td>
                                <td class="text-center"><a data-toggle="tooltip" id="store-address-{{id}}" data-placement="top" title="{{address}}">{{truncate address}}</a></td>
                                <td class="text-center"><a id="store-url-{{id}}" href="{{ url }}">visit</a></td>
                                <td class="text-center" id="store-boxes-{{id}}">{{ boxes }}</td>
                                <td class="text-center">
                                    {{#if active}}
                                    <i class="far fa-circle nav-icon ek-active" id="store-active-{{id}}" style="color: #1db159;"></i>
                                    {{else}}
                                    <i class="far fa-circle nav-icon ek-disabled" id="store-active-{{id}}" style="color: #b4000b;"></i>
                                    {{/if}}
                                </td>
                                <td class="text-center"><button onclick="editStore({{id}});" class="btn btn-dark">Edit</button></td>
                                <td class="text-center"><button class="btn btn-dark">Hide All</button></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="storeEdit" tabindex="-1" role="dialog" aria-labelledby="storeEditTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="store-name-modal">Store Name</label>
                        <input type="text" id="store-name-modal" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="store-storeid-modal">Store Id</label>
                        <input type="text" id="store-storeid-modal" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <textarea id="store-address-modal" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="store-boxes-modal">Boxes</label>
                        <input type="text" id="store-boxes-modal" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                        <label for="store-boxes-modal">Active</label>
                        <input type="checkbox" id="store-active-modal" class="custom-control-input">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-dark">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('#table-stores').DataTable({
        //responsive: true,
        scrollX: true,
    });
});
function updateOrder(orderId) {
    let statusElement = document.getElementById(`status-${orderId}`);
    let status = statusElement.options[statusElement.selectedIndex].value;
    let paid = document.getElementById(`paid-${orderId}`).checked ? 1 : 0;
    $.ajax({
        method: 'GET',
        url: `/api/status?orderId=${orderId}&status=${status}&paid=${paid}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
                toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
}
function editStore(id) {
    let storeNameElement = document.getElementById(`store-name-${id}`);
    let storeName = storeNameElement.innerText;
    let storeId = storeNameElement.getAttribute('data-storeid');
    let storeAddressElement = document.getElementById(`store-address-${id}`);
    let storeAddress = storeAddressElement.getAttribute('data-original-title'); 
    let storeBoxesElement = document.getElementById(`store-boxes-${id}`);
    let storeBoxes = storeAddressElement.innerText;
    let storeActiveElement = document.getElementById(`store-active-${id}`);
    let storeActive = storeActiveElement.classList.contains('ek-active') ? true : false;

    // Set up moda;
    document.getElementById('store-name-modal').value = storeName;
    document.getElementById('store-storeid-modal').value = storeId;
    document.getElementById('store-address-modal').innerText = storeAddress;
    document.getElementById('store-boxes-modal').value = storeBoxes;
    document.getElementById('store-active-modal').setAttribute('checked', storeActive);
//    if (storeActive) {
//    }

    $('#storeEdit').modal('show');
}
</script>