<section class="content">
    <div class="row">
        <div class="col">
            <select id="store-selector" class="custom-select custom-select-sm form-control form-control-sm" onchange="selectChangeHandler();">
                <option selected="true" disabled="true">filter by store</option>
                <option value="all">All Stores</option>
                {{#each stores}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col">
            
            <select id="status-select" class="custom-select custom-select-sm form-control form-control-sm" onchange="handleStatusChange();">
                <option selected="true" disabled="true">filter by order status</option>
                <option value="RECEIVED">RECEIVED</option>
                <option value="CONFIRMED">CONFIRMED</option>
                <option value="DISPATCHED">DISPATCHED</option>
                <option value="DELIVERED">DELIVERED</option>
                <option value="CANCELLED">CANCELLED</option>
            </select>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Orders</h3>
                </div>
                <div class="card-body">
                    <table id="table-order" class="table table-borderd table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" role="col">Sr No.</th>
                                <th class="text-center" role="col">Status</th>
                                <th class="text-center" role="col">Order ID</th>
                                <th class="text-center" role="col">User</th>
                                <th class="text-center" role="col">Pincode</th>
                                <th class="text-center" role="col">Address</th>
                                <th class="text-center" role="col">Phone</th>
                                <th class="text-center" role="col">Product</th>
                                <th class="text-center" role="col">Quantity</th>
                                <th class="text-center" role="col">Price</th>
                                <th class="text-center" role="col">Total</th>
                                <th class="text-center" role="col">Brand</th>
                                <th class="text-center" role="col">Company</th>
                                <th class="text-center" role="col">Order Timestamp</th>
                                <th class="text-center" role="col">User's nth order</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{{orderdiv}}}
							{{#each additional}}
							<tr>
                                <td class="text-center">-</td>
                                <td class="text-center">N/A</td>
                                <td class="text-center">{{ order_id }}</td>
                                <td class="text-center">{{feemap type_of_fees }}</td>
                                <td class="text-center">N/A</td>
                                <td class="text-center">N/A</td>
                                <td class="text-center">N/A</td>
                                <td class="text-center">Additionals</td>
                                <td class="text-center">1</td>
                                <td class="text-center">{{ amount }}</td>
                                <td class="text-center">N/A</td>
                                <td class="text-center">{{ BrandName }}</td>
                                <td class="text-center">{{ charged_by }}</td>
								<td class="text-center">{{ reason }}</td>
                                <td class="text-center">N/A</td>
							</tr>
							{{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
function appendToQueryString(key, value) {
    let params = new URLSearchParams(location.search);
    params.set(key, value);
    const qs = params.toString();
    window.location.href = `/store?${qs}`;
}
function selectChangeHandler() {
    let selectElement = document.getElementById('store-selector');
    let storeId = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('storeId', storeId);
}

function handleStatusChange() {
    let selectElement = document.getElementById('status-select');
    let status = selectElement.options[selectElement.selectedIndex].value;
    appendToQueryString('status', status)
}
$(document).ready(function() {
    $('#table-order').DataTable({
        dom: 'Bfrtip',
        lengthChange: false,
        responsive: true,
        scrollX: true,
		buttons: [ 'excel' ],
		order:[
			[2, 'ASC']
			//['']
		]
    }).buttons().container().appendTo('#table-order .col-md-6:eq(0)');
});
function createToast() {
    $(document).Toasts('create', {
        class: 'bg-maroon',
        title: 'Updated',
        autohide: true,
        delay: 1000,
        body: 'Data Updated'
    });
}
</script>
