<style>
ul.timeline {
    list-style-type: none;
    /* position: relative; */
}
ul.timeline:before {
    content: ' ';
    display: inline-block;
    /* position: absolute; */
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
</style>
<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col"></div>
		<div class="col">
		  <label>Date range:</label>
		  <div class="input-group">
			<div class="input-group-prepend">
			  <span class="input-group-text">
				<i class="far fa-calendar-alt"></i>
			  </span>
			</div>
			<input type="text" class="form-control float-right" id="reservation">
		  </div>
		</div>
		<div class="col"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Order Timeline</h4>
			<ul class="timeline">
                {{#each orders}}
				<li>
					<a target="_blank" href="#" style="margin-left: 2em;">{{ this.order_id }}</a>
					<a href="#" class="float-right">{{localtime this.createdAt }}</a>
					<div style="margin-left: 2em;">
                        <h5>{{ this.status }}</h5>
                        {{#if this.paid}}
                        <h5>Paid</h5>
                        {{else}}
                        <h5>Payment Pending</h5>
                        {{/if}}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Sr No</th>
                                    <th class="text-center">Product Name</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-center">Unit Price</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
							<tbody>
								{{#each this.orderitems }}
                                <tr>
									<td class="text-center">{{inc @index }}</td>
									<td class="text-center">{{ this.barcodemaster.ProductVariant }}</td>
									<td class="text-center">{{ this.quantity }}</td>
									<td class="text-center">{{ this.item_price }}</td>
									<td class="text-center">{{ math this.quantity "*" this.item_price }}</td>
								</tr>
								{{/each}}
                            </tbody>
                        </table>
                    </div>
				</li>
                {{/each}}
			</ul>
		</div>
	</div>
</div>
