<section class="content">
    {{!-- <div class="row">
        <div class="col">
            <select id="store-selector" class="custom-select custom-select-sm form-control form-control-sm" onchange="selectChangeHandler();">
                <option value="all">All Stores</option>
                {{#each stores}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col">
            <select id="status-select" class="custom-select custom-select-sm form-control form-control-sm" onchange="handleStatusChange();">
                <option selected="true" disabled="true">filter by order status</option>
                <option value="RECEIVED">RECEIVED</option>
                <option value="CONFIRMED">CONFIRMED</option>
                <option value="DISPATCHED">DISPATCHED</option>
                <option value="DELIVERED">DELIVERED</option>
                <option value="CANCELLED">CANCELLED</option>
            </select>
        </div>
        <div class="col">
            <select id="paid-status-select" class="custom-select custom-select-sm form-control form-control-sm" onchange="handlePaidStatusChange();">
                <option selected="true" disabled="true">filter by paid status</option>
                <option value="1">PAID</option>
                <option value="0">PENDING</option>
            </select>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div> --}}

    <div class="row">
         <input type="text" name="order_id_Search" id="order_id_Search" placeholder="Enter Mobile No">
          <div class="col col-md-1"> <button onclick="getDownloadbyId();">Download</button></div> 
         

         {{!-- <div class="col col-md-1">From</div>
        <div class="col col-md-2"> <input type="datetime-local" id="startDate" name="startDate"></div>
        
        <div class="col col-md-1">To</div>
        <div class="col col-md-2"> <input type="datetime-local" id="endDate" name="endDate"></div>
        <div class="col col-md-1"> <button onclick="getDownload1();">Download</button></div>  --}}
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                             <h3 class="card-title">Whatsapp Data  </h3>
                        </div>
                         {{!-- <div class="col"> <a href="https://staging.near.store/wh/" target="_blank"><button class="btn btn-dark btn-small"> Book Delivery Order</button></a> --}}
                        {{!-- <div class="col"> <a href="http://localhost:8091/" target="_blank"><button class="btn btn-dark btn-small"> Book Delivery Order</button></a> --}}
                        </div>
                    </div>
                   
                </div>
                <div class="card-body">
                    <table id="table-order" class="table table-borderd table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" role="col">Sr No.</th>
                                <th class="text-center" role="col">Mobile</th>
                                {{!-- <th class="text-center" role="col">Task ID</th> --}}
                                <th class="text-center" role="col">Name</th>
                                {{!-- <th class="text-center" role="col">Store ID</th> --}}
                                {{!-- <th class="text-center" role="col">count</th> --}}
                                <th class="text-center" role="col">Date</th>
                                <th class="text-center" role="col">Message</th>
    
                            </tr>
                        </thead>
                        <tbody>
                            {{#each getWhatsapp}}
                            
                            <tr>
                              
                                <td class="text-center">{{ inc @index }}</td>
                              
                                <td class="text-center">{{ this.mobile }}</td>
                                <td class="text-center">{{ this.name }}</td>
                                {{!-- <td class="text-center">{{ this.store_id }}</td> --}}
                                {{!-- <td class="text-center">{{ this.count }}</td> --}}
                                <td class="text-center">{{ this.created_on }}</td>
                                <td class="text-center">{{ this.message }}</td>
                            
                                           
                               
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <br>
                             <h3 class="card-title">Send A Reply  </h3>


                    <textarea class="form-control message"></textarea>
<br>
                    <button class="btn-dark" onclick="sendmessage()">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>


 function getDownloadbyId(order_id){
  var check = false;
var order_id_Search = $('#order_id_Search').val();
if(!!order_id_Search){
    check = true;

}else{
   check= false
}
if(check){

    window.open(
  '/whatsapp/downloadById?order_id_Search='+order_id_Search,
  '_blank' // <- This is what makes it open in a new window.
);
  
}else{
    alert('please select enter the Mobile No');
}

 }

 function trackStatus(order_id,source){

        $.ajax({
        method: 'GET',
        url: '/logistic/trackStatus?order_id='+order_id+'&source='+source,
        success: (data) => {
            if (data.status == 0) {
                toastr.error(data.message, 'Failed to get details');
            } else if (JSON.parse(data.data).status == 1) {
                if(source =='dunzo'){
                    toastr.success(data.message, JSON.parse(data.data).data.state);
                
                }else{
            toastr.success(data.message, JSON.parse(data.data).data.data.status);
                }
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
    

}
 function cancelDelivery(order_id,source){

      $.ajax({
        method: 'POST',
        url: '/logistic/cancelDelivery',
        data:{'order_id': order_id,'source':source},
        success: (data) => {
        
                if(source =='dunzo'){
                    if (JSON.parse(data.data).status == 0) {
                    toastr.error(data.message, JSON.parse(data.data).status);
                } else if (JSON.parse(data.data).status == 1) {
                    toastr.success(data.message, 'Successfully cancelled');    
                }
                    }else{
                alert(JSON.parse(JSON.parse(data.data).data).message);
                    }
            
            },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
    

}
function getDownload(){
    var check = false;
var endDate = $('#endDate').val();
var startDate = $('#startDate').val();
if(!!startDate && !!endDate){
    check = true;
    var endDateArr = endDate.split('T');
    var startDateArr = startDate.split('T');
    var fromDate = startDateArr[0];
    var fromTime = startDateArr[1];
    var toDate = endDateArr[0];
    var toTime = endDateArr[1];
}else{
   check= false
}
if(check){

    window.open(
  '/logistic/download?fromTime='+fromTime+'&fromDate='+fromDate+'&toDate='+toDate+'&toTime='+toTime,
  '_blank' // <- This is what makes it open in a new window.
);
  
}else{
    alert('please select both the date');
}

}
var dataFormat ='2021-01-29 13:53:56.552+05:30';
$(document).ready(function() {
    $('#table-order').DataTable({
        responsive: true,
        scrollX: true,
    });
    let qs = new URLSearchParams(location.search);
    const storeFilter = qs.get('storeId');
    const orderStatus = qs.get('status');
    const paidStatus = qs.get('paid'); 
    if (storeFilter) {
        $('#store-selector').val(storeFilter);
    }
    if (orderStatus) {
        $('#status-select').val(orderStatus)
    }
    if (paidStatus) {
        $('#paid-status-select').val(paidStatus);
    }





    
});


var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return typeof sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return false;
};
function sendmessage(){

var message = $('.message').val();
var ph = getUrlParameter('id');

var mob = "91"+ph;



$.get(`https://media.smsgupshup.com/GatewayAPI/rest?method=SendMessage&format=json&userid=2000195506&password=5C@U4UrB&send_to=${mob}&v=1.1&auth_scheme=plain&msg_type=DATA_TEXT&msg=${message}`, function(data, status){
   // alert("Data: " + data + "\nStatus: " + status);
  });

}
function createToast() {
    $(document).Toasts('create', {
        class: 'bg-maroon',
        title: 'Updated',
        autohide: true,
        delay: 1000,
        body: 'Data Updated'
    });
}
function updateOrder(orderId) {
    let statusElement = document.getElementById(`status-${orderId}`);
    let status = statusElement.options[statusElement.selectedIndex].value;
    let paid = document.getElementById(`paid-${orderId}`).checked ? 1 : 0;
    $.ajax({
        method: 'GET',
        url: `/api/status?orderId=${orderId}&status=${status}&paid=${paid}`,
        success: (data) => {
            if (data.status === 'error') {
                toastr.error(data.message, 'Error');
            } else if (data.status === 'success') {
                toastr.success(data.message, 'Updated')
            }
        },
        error: (err) => {
            toastr.error(err, 'AJAX Error');
        }
    })
}
</script>
